﻿@inherits PopupMenuBase

<CascadingValue Value="@Identifier" Name="MenuId">
	<div class="@Class" @oncontextmenu:preventDefault="true" @onclick="OnClick">
		@Element
	</div>

	<AbsoluteMenuPart OpenMenu="_positionReady">
		<Display>
			<div class="absolute z-40 transition-all ease-in-out duration-200 w-full h-full
				bg-slate-200/50 grid grid-cols-1 grid-rows-1 place-items-center
				@(_menuReady ? "scale-100 opacity-100" : "scale-90 opacity-0")" data-id="@Identifier">
				<div class="bg-white w-10/12 h-5/6 relative">
					<CascadingValue Name="Identifier" Value="@Identifier">
						@Popup
					</CascadingValue>
				</div>
				@if (DisplayCloseButton)
				{
					<div class="absolute z-60 place-self-start grid justify-items-end w-full p-4">
						<button class="rounded-lg w-7 h-7 border-slate-400 shadow-md
							right-1 top-1 material-symbols-rounded bg-slate-400"
						@onclick="AbortMenuAsync">
							close
						</button>
					</div>
				}
			</div>

			@if (_menuReady)
			{
				<HTMLRenderedHandler OnRender="OnMenuReady" />
			}
			else
			{
				<HTMLRenderedHandler OnRender="OnMenuLoaded" />
			}
		</Display>
	</AbsoluteMenuPart>
</CascadingValue>