﻿@using ProjectDataCore.Components.Page.Form
@using ProjectDataCore.Data.Structures.Page.Components.Parameters

<span class="flex-grow relative">
    @if (_settings is not null)
    {
        <AssignableValueDisplayComponent 
            ComponentData="_settings"
            Node="_node"
        />
    }
</span>

<div class="flex-none flex-col flex max-w-40">
    @foreach(var t in Response.Tags)
    {
        var tag = t;
        <span class="flex-none rounded-lg border border-slate-400 px-1">
            @tag.Name
        </span>
    }
</div>