﻿@typeparam TValue

<EditForm Model="this" class="input-group grid grid-cols-1 grid-flow-row-dense gap-2">
	<InputText class="input-control peer" id="@_id" placeholder="User Search"
		Value="@SearchRaw" ValueChanged="(x) => OnSearchUpdated(x)" ValueExpression="() => SearchRaw"
		@oninput="(x) => OnSearchUpdated((string?)x.Value)" autocomplete="off"
		disabled="@((SelectedItems.Count >= MaxSelections && !NoSelectionLimit) || DisableEdits)"
		@onfocusin="(x) => OnSearchUpdated(null)" />
	<label class="input-label" for="@_id">@DisplayName</label>

	@if (AllowFreehand)
	{
		<button class="rounded-lg w-7 h-7 border-slate-400 shadow-md
            bg-slate-200 material-symbols-rounded"
			@onclick="AddFreehandInputAsync">
			add
		</button>
	}

	<div class="absolute bottom-0 left-0 w-full relative m-0 p-0
				peer-placeholder-shown:invisible peer-focus:visible">
		@if (SuggestedItems.Count > 0
				&& (SelectedItems.Count < MaxSelections || NoSelectionLimit))
		{
			<div class="grid grid-cols-1 grid-flow-row-dense gap-1 absolute left-0 top-0
					bg-slate-500 text-white border-black border-2 w-full
					max-h-150 overflow-y-auto overscroll-contain z-100">
				@foreach (var close in SuggestedItems)
				{
					var c = close;
					<button class="p-1 px-2 border-b border-black last:border-0 hover:bg-slate-300 hover:text-black"
					@onpointerdown="async () => await OnAddSelectionAsync(c)">
						@GetDisplayValue(c)
					</button>
				}
			</div>
		}
	</div>
	@if (!DontSaveSelections)
	{
		<div class="inline-flex justify-start gap-2 overflow-x-scroll">
			@foreach (var user in SelectedItems)
			{
				var u = user;
				<button class="border border-green-500 px-2 py-1 hover:bg-green-500 hover:text-white inline-flex align-middle"
				@onclick="async () => await OnRemoveSelectionAsync(u)" disabled="@DisableEdits">
					<span class="flex-grow px-2">@GetDisplayValue(u)</span>
					<span class="material-symbols-rounded flex-0">highlight_off</span>
				</button>
			}
			<div class="invisible px-2 py-1 pb-2 inline-flex align-middle">
				<span class="flex-grow px-2"></span>
				<span class="material-symbols-rounded flex-0">highlight_off</span>
			</div>
		</div>
	}
</EditForm>