﻿<div class="w-full grid grid-flow-row grid-cols-1 gap-2 p-2">
    <CascadingValue Name="DisableEdits" Value="true">
        @foreach(var v in Values)
        {
            <AssignableValueInput Value="v.assignable"
                                  Label="@v.label" />
        }
    </CascadingValue>
</div>