﻿@using ProjectDataCore.Data.Structures.Nav
<li class="top-link group">
    @if (Module.HasMainPage) //If the Module has a main page make the top button clickable
    {
        <NavLink href="@Module.GetHref()" @onclick="() => Navigate(Module.GetHref())">
            <button class="has-dropdown">
                @Module.DisplayName
            </button>
        </NavLink>
    }
    else
    {
        <button class="has-dropdown">@Module.DisplayName</button>
    }
    <ul class="dropdown">
        @foreach (var sM in Module.SubModules) //List all sub Modules
        {
            var subModule = sM;
            //TODO: Needs force admin when not broken
            // Once again, needs to check indiivudal areas rather than the admin area.
            // honestly, the admin zones can be removed entierly and left to just the
            // auth checks on an area, they will be handled the same.
            <AuthorizationHandler Area="subModule.GetAuth()">
                <Authorized>
                    @if (subModule.SubModules.Count > 0) //If the sub Module has sub Modules list them 1 deep
                    {
                        <li class="drLink relative">
                            @if (subModule.HasMainPage)
                            {
                                <NavLink href="@subModule.GetHref()" @onclick="() => Navigate(subModule.GetHref())">
                                    <button class="has-dropdown">
                                        @subModule.DisplayName
                                    </button>
                                </NavLink>
                            }
                            else
                            {
                                <button class="has-dropdown">@subModule.DisplayName</button>
                            }
                            <ul class="nested">
                                @foreach (var l in subModule.SubModules)
                                {
                                    var link = l;
                                    <NavLink href="@link.GetHref()" @onclick="() => Navigate(link.GetHref())">
                                        <li class="drLink">
                                            @link.DisplayName
                                        </li>
                                    </NavLink>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <NavLink href="@subModule.GetHref()" @onclick="() => Navigate(subModule.GetHref())">
                            <li class="drLink">
                                @subModule.DisplayName
                            </li>
                        </NavLink>
                    }
                </Authorized>
                <NotAuthorized></NotAuthorized>
            </AuthorizationHandler>
        }
    </ul>
</li>
@foreach (var sM in Module.SubModules)
{
    var subModule = sM;
    @if (URI.Contains(subModule.GetHref()??"") && subModule.SubModules.Count > 0)
    {
        <ModuleDisplay Module="subModule"/>
    }
}