﻿<CascadingAuthenticationState>
<nav class="bg-emerald-800 h-[32px] text-white z-10 pl-3 flex-none">
    <ul class="flex gap-4">
        <li class="top-link">
            <NavLink href="/" @onclick='() => Navigate("/")'>Your Roster</NavLink>
        </li>

        <li class="top-link group">
            <button class="has-dropdown">Modules</button>
            <ul class="dropdown">
                @foreach (var m in _modules) //Display all modules under modules tab
                {
                    var module = m;
                    //TODO: Needs force admin when not broken
                    // TODO: Needs to check each module for thier permissions rather than
                    // checking a global admin state.
                        <AuthorizationHandler Area="m.GetAuth()">
                        <Authorized>
                            @if (module.SubModules.Any()) //Check if module has sub links if so display them
                            {
                                <li class="drLink relative">
                                    @if (module.HasMainPage) //If module has a main page make the link clickable
                                    {
                                        <NavLink href="@module.GetHref()" @onclick="() => Navigate(module.GetHref())">
                                            <button class="has-dropdown">
                                                @module.DisplayName
                                            </button>
                                        </NavLink>
                                    }
                                    else
                                    {
                                        <button class="has-dropdown">@module.DisplayName</button>
                                    }
                                    <ul class="nested">
                                        @foreach (var link in module.SubModules) //List all sub links
                                        {
                                            <AuthorizationHandler Area="link.GetAuth()">
                                            <Authorized>
                                                <NavLink href="@link.GetHref()" @onclick='() => Navigate(link.GetHref())'>
                                                    <li class="drLink">
                                                        @link.DisplayName
                                                    </li>
                                                </NavLink>
                                                </Authorized>
                                                <NotAuthorized></NotAuthorized>
                                            </AuthorizationHandler>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="drLink">
                                    <NavLink href="@module.GetHref()" @onclick="() => Navigate(module.GetHref())">@module.DisplayName</NavLink>
                                </li>
                            }
                        </Authorized>
                        <NotAuthorized></NotAuthorized>
                    </AuthorizationHandler>
                }
            </ul>
        </li>

        @foreach (var m in _modules) //List all modules if on corresponding pages only if it has sublinks
        {
            var module = m;
            //TODO: Make this work with null null HREF -Thunder
            @if (URI.Contains(module.GetHref()) && module.SubModules.Count > 0) //Check url and that the module has sub modules
            {
                <CascadingValue Value="@URI">
                    <ModuleDisplay Module="module"/>
                </CascadingValue>
            }
        }

        <li class="grow"></li>

        @if(ActiveUser is not null)
        {
            @if (ActiveUser.Impersonating)
            {
                <li class="top-link-nocolor group impersonate">
                    <button class="has-dropdown">
                        @(ActiveUser.AuthorizationCheckUser?.UserName ?? "No User")
                    </button>
                        <ul class="dropdown-nocolor impersonate">
                            <li class="drLink-nocolor cursor-pointer impersonate" @onclick="StopImpersonatingAsync">
                            <span>Stop Impersonating</span>
                        </li>
                    </ul>
                </li>
            }

            //TODO: Make Configurable
            <li class="top-link group !px-3 mr-3">
                <button class="has-dropdown" >@ActiveUser.UserName</button>
                <ul class="dropdown" >
                    <li class="drLink cursor-pointer" @onclick='() => Navigate("/logout", true)'>
                        <NavLink href="/logout">Logout</NavLink>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="top-link mr-3 cursor-pointer" @onclick='() => Navigate("/login", true)'>
                <NavLink href="/login">Login</NavLink>
            </li>
        }

    </ul>
</nav>
</CascadingAuthenticationState>