﻿.impersonate {
    @apply bg-red-600 hover:bg-red-700;
}

.top-link-nocolor {
    @apply relative p-1 min-h-full rounded-sm;
}

.top-link {
    @apply hover:bg-emerald-700 top-link-nocolor;
}

.link {
    @apply hover:bg-emerald-700 px-3 py-1;
}

.dropdown-nocolor {
    @apply z-10 rounded-b-md transform scale-0 group-hover:scale-100 absolute left-0 top-full transition duration-150 ease-in-out origin-top w-max min-w-full;
}

.dropdown {
    @apply bg-emerald-800 dropdown-nocolor;
}

.nested-nocolor {
    @apply z-10 rounded-r-md absolute top-0 right-[2px] transition duration-150 ease-in-out origin-top-left w-max min-w-full;
}

.nested{
    @apply bg-emerald-800 nested-nocolor;
}

.dropdown > li:last-child {
    @apply rounded-b-md;
}

.has-dropdown::after {
    content: "+";
    @apply pl-1;
}

.drLink-nocolor {
    @apply px-3 py-1;
}

.drLink {
    @apply hover:bg-emerald-700 drLink-nocolor;
}

.drLink-nocolor:first-child {
    @apply rounded-tr-md;
}

.drLink-nocolor:last-child {
    @apply rounded-b-md;
}

li > ul {
    transform: translatex(100%) scale(0);
}
li:hover > ul {
    transform: translatex(101%) scale(1);
}
li > button svg {
    transform: rotate(-90deg);
}
li:hover > button svg {
    transform: rotate(-270deg);
}