﻿<CascadingValue Value="OnConfigureNodePushed" Name="EditorSettingsNodeHook">
    <div class="inline-flex w-full h-full" data-drag-container="@DROPPABLE_ID">
        <div class="@(SidebarVisible ? "w-[33%] p-2 scale-y-100" : "invisible scale-y-0 w-[0%]") transition-all origin-top-left">
            <div class="flex flex-col">
                @*Page List Pannel
                TODO: Search open pages
                - Order pages by route
                - Nest routed pages
                - Add edit buttons for pages

                - Add settings panel switch

                - Add drag and drop components for pages
                *@

                <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2 relative flex flex-row justify-between my-1 first:mt-0 last:mt-0">
                    <span class="flex-grow">Page Editor</span>
                    <div class="flex flex-row flex-none gap-1">

                        @if (LeftMenuState == LeftMenu.RouteSelection)
                        {
                            <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded
							transition-all ease-in-out duration-500
							@(DisplayNewRoute ? "scale-0 invisible" : "scale-100 visible")"
                                @onclick="() => DisplayNewRoute = true">
                                directions_alt
                            </button>

                            <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded
							transition-all ease-in-out duration-500
							@(DisplaySearch ? "scale-0 invisible" : "scale-100 visible")"
                                @onclick="() => DisplaySearch = true">
                                search
                            </button>
                        }

                        <div class="border border-slate-400"></div>

                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded"
                                @onclick="OnUndoClickedAsync">
                            undo
                        </button>
                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded"
                                @onclick="OnRedoClickedAsync">
                            redo
                        </button>
                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md material-symbols-rounded bg-slate-200"
                                @onclick="ToggleSidebar">
                            keyboard_double_arrow_left
                        </button>
                    </div>
                </div>

                @switch (LeftMenuState)
                {
                    case LeftMenu.RouteSelection:
                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                            Routes
                        </div>
                        <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
							relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0
							@(DisplayNewRoute ? "w-full h-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">
                            <p>Create New Route</p>

                            <button class="absolute rounded-lg w-7 h-7 border-slate-400 shadow-md
								right-1 top-1 material-symbols-rounded bg-slate-200" type="button"
                                @onclick="() => DisplayNewRoute = false">
                                close
                            </button>

                            <EditForm class="grid grid-cols-1 grid-flow-row gap-2"
                              Model="this">
                                <div class="input-group">
                                    <InputText @bind-Value="NewRoutePath" id="page-route" type="text" class="input-control peer" placeholder="Page Route" />
                                    <label for="page-route" class="input-label">Route Path</label>
                                </div>

                                <button class="button-op-success" @onclick="CreateNewRouteAsync" type="submit">Create</button>
                            </EditForm>
                        </div>

                        <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
							relative transition-all origin-top-left duration-500 after:transition-all first:mt-0 last:mt-0
							@(DisplaySearch ? "w-full h-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">

                            <button class="absolute rounded-lg w-7 h-7 border-slate-400 shadow-md
								right-1 top-1 material-symbols-rounded bg-slate-200" type="button"
                            @onclick="() => DisplaySearch = false">
                                close
                            </button>

                            <p>Search Pages</p>

                            <EditForm class="grid grid-cols-1 grid-flow-row gap-2"
                              Model="this">
                                <div class="input-group">
                                    <InputText id="page-name-search" type="text" class="input-control peer" placeholder="Search by Name"
                                       Value="@NameSearch" ValueExpression="() => NameSearch" ValueChanged="OnNameSearchChanged" />
                                    <label for="page-name-search" class="input-label">Search by Name</label>
                                </div>

                                <div class="input-group">
                                    <InputText id="page-route-search" type="text" class="input-control peer" placeholder="Search by Route"
                                       Value="@RouteSearch" ValueExpression="() => RouteSearch" ValueChanged="OnRouteSearchChanged" />
                                    <label for="page-route-search" class="input-label">Search by Route</label>
                                </div>
                                <button class="invisble h-0 w-0" type="submit" id="mock-submit-handler"></button>
                            </EditForm>
                        </div>

                        <PageEditRouteRootDisplay
                            Tree="AllowedRootTree"
                            RefreshRequested="async () => await InvokeAsync(StateHasChanged)"
                            OnViewRouteDetails="OnViewRouteDetailsAsync" 
                        />
                        break;

                    case LeftMenu.RouteSettings:
                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                            Route Editor
                        </div>

                        @if (RouteToEdit is not null)
                        {
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <button class="flex-grow button-op-success" @onclick="SaveRouteEditsAsync">Save Changes</button>
                            </div>

                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <span class="flex-grow">
                                    Route Authorizaion Area
                                    <br />
                                    @(RouteToEdit.AuthorizationArea?.Name ?? "No Auth Area")
                                </span>

                                <button class="rounded-lg w-7 h-7 shadow-md material-symbols-rounded merge-color 
                                        disabled:bg-slate-600 disabled:text-white"
                                        disabled="@(RouteToEdit.AuthorizationArea is not null)"
                                        @onclick="OnAddAuthArea">
                                    add
                                </button>
                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded split-color"
                                        @onclick="OnSelectAuthArea">
                                    list
                                </button>
                                <AuthorizationEditComponent AuthorizationArea="RouteToEdit.AuthorizationArea"
                                    ShowDisabled="true" />
                                <ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
                                    <Element>
                                        <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color
                                                disabled:bg-slate-600 disabled:text-white"
                                                disabled="@(RouteToEdit.AuthorizationArea is null)">
                                            delete
                                        </button>
                                    </Element>
                                    <Popup>
                                        <button class="button-op-danger-solid" @onclick="OnDeleteAuthArea">
                                            Confirm Delete
                                        </button>
                                    </Popup>
                                </ContextMenu>
                            </div>

                            <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
							    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0 z-20
							    @(SelectingAuthArea ? "w-full h-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">

                                <AuthorizationAreaSelector DisplayName="Select Auth Area"
                                                           OnAuthAreaSelected="OnAuthAreaSelectionChanged" />
                            </div>

                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <span class="flex-grow">
                                    Route Can Edit Authorization Area
                                    <br />
                                    @(RouteToEdit.CanEditAuthorizationArea?.Name ?? "No Auth Area")
                                </span>

                                <button class="rounded-lg w-7 h-7 shadow-md material-symbols-rounded merge-color
                                        disabled:bg-slate-600 disabled:text-white"
                                        disabled="@(RouteToEdit.CanEditAuthorizationArea is not null)"
                                @onclick="OnAddCanEditAuthArea">
                                    add
                                </button>
                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded split-color"
                                @onclick="OnSelectCanEditAuthArea">
                                    list
                                </button>
                                <AuthorizationEditComponent AuthorizationArea="RouteToEdit.CanEditAuthorizationArea"
                                                            ShowDisabled="true" />
                                <ContextMenu OpenOnLeftClick="true" Identifier="CanEditAuthAreaDelete">
                                    <Element>
                                        <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color
                                                disabled:bg-slate-600 disabled:text-white"
                                                disabled="@(RouteToEdit.CanEditAuthorizationArea is null)"
                                        >
                                            delete
                                        </button>
                                    </Element>
                                    <Popup>
                                        <button class="button-op-danger-solid" @onclick="OnDeleteCanEditAuthArea">
                                            Confirm Delete
                                        </button>
                                    </Popup>
                                </ContextMenu>
                            </div>

                            <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
							    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0 z-20
							    @(SelectingCanEditAuthArea ? "w-full h-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">

                                <AuthorizationAreaSelector
                                    DisplayName="Select On Edit Auth Area"
                                    OnAuthAreaSelected="OnCanEditAuthAreaSelectionChanged" 
                                />
                            </div>

                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                @if (RouteToEdit.Page is null)
                                {
                                    <span class="flex-grow">Page: No Page</span>
                                }
                                else
                                {
                                    <span class="flex-grow">Page: @(RouteToEdit.Page.Name ?? "Unnamed Page")</span>
                                }

                                @if (RouteToEdit.Page is null
                                  || !RouteToEdit.Page.IsStaticPage)
                                {
                                    <button class="rounded-lg w-7 h-7 shadow-md material-symbols-rounded merge-color
                                        disabled:bg-slate-600 disabled:text-white"
                                    disabled="@(RouteToEdit.Page is not null)"
                                    @onclick="OnAddPageAsync">
                                        add
                                    </button>
                                    <button class="rounded-lg w-7 h-7 shadow-md material-symbols-rounded merge-color
                                        disabled:bg-slate-600 disabled:text-white"
                                    disabled="@(RouteToEdit.Page is null)"
                                    @onclick="OnEditPageAsync">
                                        edit
                                    </button>
                                }

                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded component-settings-color
                                        disabled:bg-slate-600 disabled:text-white"
                                        disabled="@(RouteToEdit.Page is null)"
                                        @onclick="OnStartPageMoveAsync">
                                    tab_move
                                </button>                                

                                @if (RouteToEdit.Page is null
                                    || !RouteToEdit.Page.IsStaticPage)
                                {
                                    <ContextMenu OpenOnLeftClick="true" Identifier="DeletePage">
                                        <Element>
                                            <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color
                                                disabled:bg-slate-600 disabled:text-white"
                                            disabled="@(RouteToEdit.Page is null)">
                                                delete
                                            </button>
                                        </Element>
                                        <Popup>
                                            <button class="button-op-danger-solid" @onclick="OnDeletePageAsync">
                                                Confirm Delete
                                            </button>
                                        </Popup>
                                    </ContextMenu>
                                }
                            </div>

                            <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
							    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0 z-20
							    @(MovingPage ? "w-full h-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">
                                
                                <MultiListSelectSelector 
                                    DisplayAllWhenEmpty="true"
                                    MaxSelections="1"
                                    DisplayName="Select Route"
                                    DisplayedPotentialOptions="5"
                                    TValue="RouteRoot"
                                    DisplayValues="RouteRootDisplays"
                                    Values="AllowedRoots"
                                    SelectedItems="MoveSelectedValues"
                                    OnValueChangedAsync="OnMoveSelectionChanged"
                                />

                                @if (MovePageTo is null)
                                {
                                    <span>No route selected.</span>
                                }
                                else if(MovePageTo.Page is null)
                                {
                                    <span>This action will move the page to the selected route.</span>
                                }
                                else
                                {
                                    <span>
                                        This action will swap the current page with the page on the
                                        selected route.
                                    </span>
                                    <span>
                                        Page: @MovePageTo.Page.Name
                                    </span>
                                }

                                @if (MovePageTo is not null)
                                {
                                    <ContextMenu Identifier="CloseSettingsEditor" OpenOnLeftClick="true" Class="flex flex-grow">
                                        <Element>
                                            <button class="flex-grow button-op-danger">Move Page (This will save the route)</button>
                                        </Element>
                                        <Popup>
                                            <button class="button-op-danger-solid"
                                            @onclick="OnMovePageAsync">
                                                Confirm Move
                                            </button>
                                        </Popup>
                                    </ContextMenu>
                                }
                            </div>

                            <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0 z-10">
                                <ContextMenu Identifier="CloseSettingsEditor" OpenOnLeftClick="true" Class="flex flex-grow">
                                    <Element>
                                        <button class="flex-grow button-op-danger">Close</button>
                                    </Element>
                                    <Popup>
                                        <button class="button-op-danger-solid" 
                                            @onclick="CloseRouteSettingsEditAsync">
                                            Confirm Close
                                        </button>
                                    </Popup>
                                </ContextMenu>
                            </div>
                        }
                        break;

                    case LeftMenu.ComponentSelection:
                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                            Page Editor
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-success" @onclick="SavePageEditAsync">Save Changes</button>
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex my-1 first:mt-0 last:mt-0">
                            <div class="flex-grow">Page Settings</div>
                            <button class="flex-none button-util-action" @onclick="OpenPageSettingsAsync">Edit</button>
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                            Components
                        </div>

                        @*Component Listing
                TODO:
                - Create component listing sections
                - One section per type (layout, edit, display, etc.)
                - Configure drag and drop capabilities for the editor
                *@

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 grid lg:grid-cols-3 grid-cols-2 grid-flow-row gap-1">
                            @for (int index = 0; index < EditorComponents.Count; index++)
                            {
                                var i = index;
                                <div class="dropzone">
                                    <div class="shadow-md border-slate-200 bg-indigo-600 text-white rounded-lg border p-1 flex
										flex-col cursor-grab drag-component" data-drop-zone="@DROPPABLE_DROPZONE" data-item-type="@i,@((int)EditorComponents[i].Item2)" draggable="true">
                                        <div class="flex-grow">
                                            <img src="@EditorComponents[i].Item1.IconPath" class="aspect-square h-full mx-auto svg-white" />
                                        </div>
                                        <p class="text-center flex-none">@EditorComponents[i].Item1.ShortName</p>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-danger" @onclick="AbortPageEditAsync">Abort</button>
                        </div>
                        break;

                    case LeftMenu.SettingsSelection:
                        @switch (SettingMenuState)
                        {
                            case SettingState.Page:
                                <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                                    Page Settings
                                </div>
                                break;

                            case SettingState.Node:
                                <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                                    Node Settings
                                </div>
                                break;

                            case SettingState.Component:
                                <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                                    Component Settings
                                </div>
                                break;
                        }

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-util-action" @onclick="CloseSettingsMenuAsync"
                                disabled="@(OpenConfigurationNode is not null)">
                                Go Back
                            </button>
                        </div>

                        @foreach (var item in ConfigurationNodes.Keys.OrderBy(x => x))
                        {
                            var i = item;
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <div class="flex-grow">@i</div>
                                <button class="flex-none button-util-action" @onclick="async () => await OpenConfigurationNodeAsync(i)"
                                    disabled="@(OpenConfigurationNode is not null)">
                                    Configure
                                </button>
                            </div>
                        }
                        break;
                }
            </div>
        </div>
        <div class="flex-grow relative transition-all">
            @if (!SidebarVisible)
            {
                <div class="absolute left-1 top-1 flex flex-col w-7 h-min gap-1">
                    <button class="rounded-lg w-7 h-7 shadow-md
						material-symbols-rounded bg-slate-200 z-30"
                        @onclick="ToggleSidebar">
                        keyboard_double_arrow_right
                    </button>
                    <button class="rounded-lg w-7 h-7shadow-md bg-slate-200
						material-symbols-rounded z-30"
                        @onclick="OnUndoClickedAsync">
                        undo
                    </button>
                    <button class="rounded-lg w-7 h-7 shadow-md bg-slate-200
						material-symbols-rounded z-30"
                        @onclick="OnRedoClickedAsync">
                        redo
                    </button>
                </div>
            }

            <div class="@(SidebarVisible ? "border-l-2 border-slate-400 max-w-full max-h-full overflow-hidden" : "") h-full">
                @*Page Editor Main
                TODO: Edit exisitng pages
                - Edit all pages that have components to use a new edit system.

                - Add setting configuration switch that is controlled from the settings
                panel switch above

                - Support the ability to drop components
                *@

                <CascadingValue Value="this" Name="PageEditComponent">
                    @if (RightMenuState == RightMenu.SettingsEditor
                    || RightMenuState == RightMenu.PageEditor)
                    {
                        if (RightMenuState == RightMenu.SettingsEditor
                            && SettingMenuState == SettingState.Page)
                        {
                            @*The page settings are handled by the editor itself.
                            In this case we can load some Page Component Edit Settings Node
                            components to get the same effect a component or node will have,
                            execpt they are configured directly in this editor.
                            *@

                            <PageComponentEditorSettingsNode Name="Scope Manager">
                                @*Configure the Assignable Scope settings here.*@

                                <div class="flex flex-col w-full h-full">
                                    <p class="text-center text-xl w-full mb-1 flex-none">Assignable Scope Manager</p>
                                    <p class="text-center w-full mb-1 flex-none">
                                        Allows for editing the Assignable Scopes for this page
                                        to give containers for forms and other systems that require
                                        specific user data.
                                    </p>

                                    <div class="flex-grow flex relative overflow-hidden">
                                        <div class="p-2 w-[33%] border-r-2 border-slate-400 flex flex-col overflow-auto">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2
												relative inline-flex gap-2 my-1 bg-white">
                                                <button class="flex-grow button-op-success" @onclick="async () => await OpenConfigurationNodeAsync(null)">Close Menu</button>
                                            </div>

                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
												relative my-1 first:mt-0 last:mt-0 bg-white">
                                                Existing Scopes
                                            </div>

                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
												relative inline-flex gap-2 my-1 bg-white">
                                                <button class="flex-grow button-util-action" @onclick="AddUserScope">Add New</button>
                                            </div>

                                            @if (PageToEdit is not null)
                                            {
                                                foreach (var scope in PageToEdit.AssignableScopes)
                                                {
                                                    var i = scope;
                                                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
														relative inline-flex gap-2 my-1 bg-white">
                                                        <p class="flex-grow">@i.DisplayName</p>
                                                        <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                                            @onclick="() => DeleteUserScope(i)">
                                                            delete
                                                        </button>
                                                        <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-slate-200 material-symbols-rounded"
                                                            @onclick="() => EditUserScopeAsync(i)">
                                                            edit
                                                        </button>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        @if (AssignableScopeToEdit is not null)
                                        {
                                            <EditForm Model="AssignableScopeToEdit" class="m-2 p-3 border-2 border-slate-400 shadow-md bg-white flex-grow flex flex-col gap-3 overflow-auto">
                                                <div class="input-group">
                                                    <InputText @bind-Value="AssignableScopeToEdit.DisplayName" id="name" type="text" class="input-control peer" placeholder="Assignable Scope Display Name" />
                                                    <label for="name" class="input-label">Assignable Scope Display Name</label>
                                                </div>

                                                <hr />

                                                <label class="inline-flex items-center">
                                                    <InputCheckbox @bind-Value="AssignableScopeToEdit.IncludeLocalUser" />
                                                    <span class="ml-2">Include Local User</span>
                                                </label>

                                                <label class="inline-flex items-center">
                                                    <InputCheckbox @bind-Value="AssignableScopeToEdit.UseUserDefinition" />
                                                    <span class="ml-2">Use User Definition</span>
                                                </label>

                                                <hr />

                                                <div class="flex inline-flex gap-1">
                                                    <div class="input-group flex-grow">
                                                        <InputSelect @bind-Value="AvailableComponentsForScopeIndex" id="listeners" type="text" class="input-control peer" placeholder="Listening to">
                                                            @if (AssignableScopeToEdit.UseUserDefinition)
                                                            {
                                                                for (int index = 0; index < AvailableComponentsForScope.Count; index++)
                                                                {
                                                                    var i = index;
                                                                    <option value="@i">@AvailableComponentsForScope[i].DisplayName</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                for (int index = 0; index < AvailableFormsForScope.Count; index++)
                                                                {
                                                                    var i = index;
                                                                    <option value="@i">@AvailableFormsForScope[i].Name</option>
                                                                }
                                                            }
                                                        </InputSelect>
                                                        <label for="listeners" class="input-label">[@(ScopeListenToForm ? "Form" : "Component")] Listening To (Get a user from)</label>
                                                    </div>
                                                    <button class="flex-none button-op-success material-symbols-rounded"
                                                            @onclick="ListenToComponentAsync">
                                                        add
                                                    </button>
                                                </div>

                                                <div class="grid grid-cols-3 grid-flow-row gap-2">
                                                    @if (AssignableScopeToEdit.UseUserDefinition)
                                                    {
                                                        foreach (var item in AssignableScopeToEdit.ScopeProviders)
                                                        {
                                                            var i = item;
                                                            <div class="flex w-100 inline-flex">
                                                                <p class="flex-grow">@i.ProvidingComponent.DisplayName</p>
                                                                <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                                                @onclick="() => StopListeningTo(i)">
                                                                    delete
                                                                </button>
                                                            </div>
                                                        }
                                                    }
                                                    else if (AssignableScopeToEdit.FormScopeDefinition is not null)
                                                    {
                                                        <div class="flex w-100 inline-flex">
                                                            <p class="flex-grow">@AssignableScopeToEdit.FormScopeDefinition?.Name</p>
                                                            <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                                                @onclick="() => StopListeningToFormAsync()">
                                                                delete
                                                            </button>
                                                        </div>
                                                    }
                                                </div>

                                                <hr />

                                                <div class="flex inline-flex gap-1">
                                                    <div class="input-group flex-grow">
                                                        <InputSelect @bind-Value="AvailableComponentsForScopeIndex" id="providers" type="text" class="input-control peer" placeholder="Providing to">
                                                            @for (int index = 0; index < AvailableComponentsForScope.Count; index++)
                                                            {
                                                                var i = index;
                                                                <option value="@i">@AvailableComponentsForScope[i].DisplayName</option>
                                                            }
                                                        </InputSelect>
                                                        <label for="providers" class="input-label">[Component] Providing To (Give a user to)</label>
                                                    </div>
                                                    <button class="flex-none button-op-success material-symbols-rounded"
                                                            @onclick="ProvideForComponent">
                                                        add
                                                    </button>
                                                </div>

                                                <div class="grid grid-cols-3 grid-flow-row gap-2">
                                                    @foreach (var item in AssignableScopeToEdit.ScopeListeners)
                                                    {
                                                        var i = item;
                                                        <div class="flex w-100 inline-flex">
                                                            <p class="flex-grow">@i.ListeningComponent.DisplayName</p>
                                                            <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                                                @onclick="() => StopProvidingTo(i)">
                                                                delete
                                                            </button>
                                                        </div>
                                                    }
                                                </div>
                                            </EditForm>
                                        }
                                        else
                                        {
                                            <p class="m-2 p-2 border-2 border-slate-400 shadow-md bg-white flex-grow">Select or create a new Assignable Scope to get started.</p>
                                        }
                                    </div>
                                </div>
                            </PageComponentEditorSettingsNode>

                            <PageComponentEditorSettingsNode Name="Component Pools">
                                <div class="flex flex-col w-full h-full">
                                    <p class="text-center text-xl w-full mb-1 flex-none">Component Pool Manager</p>
                                    <p class="text-center w-full mb-1 flex-none">
                                        Allows for editing the component pools for this
                                        page. Component pools are collections of components
                                        that share data between each other.
                                    </p>

                                    <div class="flex-grow flex relative overflow-hidden">
                                        <div class="p-2 w-[33%] border-r-2 border-slate-400 flex flex-col overflow-auto">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2
												relative inline-flex gap-2 my-1 bg-white">
                                                <button class="flex-grow button-op-success" @onclick="async () => await OpenConfigurationNodeAsync(null)">Close Menu</button>
                                            </div>

                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
												relative my-1 first:mt-0 last:mt-0 bg-white">
                                                Existing Pools
                                            </div>

                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
												relative inline-flex gap-2 my-1 bg-white">
                                                <button class="flex-grow button-util-action" @onclick="AddComponentPool">Add New</button>
                                            </div>

                                            @if (PageToEdit is not null)
                                            {
                                                <ListRenderer Items="PageToEdit.ComponentPools" Context="ctx">
                                                    <p class="flex-grow">@ctx.Value.Name</p>
                                                    <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                                        @onclick="() => RemoveComponentPool(ctx.Value)">
                                                        delete
                                                    </button>
                                                    <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-slate-200 material-symbols-rounded"
                                                        @onclick="() => EditComponentPool(ctx.Value)">
                                                        edit
                                                    </button>
                                                </ListRenderer>
                                            }
                                        </div>

                                        @if (ComponentPoolToEdit is not null)
                                        {
                                            <EditForm Model="ComponentPoolToEdit" class="m-2 p-3 border-2 border-slate-400 shadow-md bg-white flex-grow flex flex-col gap-3 overflow-auto">
                                                <div class="input-group">
                                                    <InputText @bind-Value="ComponentPoolToEdit.Name" id="name" type="text" class="input-control peer" placeholder="Component Pool Display Name" />
                                                    <label for="name" class="input-label">Component Pool Display Name</label>
                                                </div>

                                                <hr />

                                                
                                            </EditForm>
                                        }
                                        else
                                        {
                                            <p class="m-2 p-2 border-2 border-slate-400 shadow-md bg-white flex-grow">Select or create a new component pool to get started.</p>
                                        }
                                    </div>
                                </div>
                            </PageComponentEditorSettingsNode>
                        }

                        if (OpenConfigurationNode is not null)
                        {
                            /* @(SidebarVisible ? "w-[33%] p-2 scale-y-100" : "invisible scale-y-0 w-[0%]") transition-all origin-top-left */
                            <div class="@(ShowConfigurationOptions ? "scale-x-100" : "scale-x-0") inset-0 origin-right transition-all duration-700 z-20 absolute bg-slate-100">
                                @OpenConfigurationNode.ChildContent
                            </div>
                        }

                        @if (PageToEdit is not null)
                        {
                            <CascadingValue Value="DraggingComponent" Name="DraggingComponent">
                                <CascadingValue Value="true" Name="PageEdit">
                                    <LayoutNodeTreeLoader EditComponent="this" ParentNode="PageToEdit.Layout" />
                                </CascadingValue>
                            </CascadingValue>
                        }
                    }
                </CascadingValue>
            </div>
        </div>
    </div>
</CascadingValue>