﻿@if(IsEditingScope)
{
	<div class="absolute group inset-0 overflow-y-auto">
		@if(Editing is null)
		{
			@Publish
		}
		else
		{
			@Editing
		}

		@if (Node is not null)
		{
			@*The component needs some interactions no matter what is going on:
				- Split interactions (to split this Node into two nodes)
				- Merge interactions (to delete other components)
				- Delete interaction (to delete this component)
			*@

			@if (Node.Component is not null)
			{
				<p class="absolute inset-x-0 mx-auto text-center p-1">@Node.Component.DisplayName</p>
			}

			<div class="absolute inset-0 @((DraggingComponent) ? "hidden" : "block") z-10 grid grid-cols-[repeat(3,32px)] gap-2 place-content-center"
				data-drag-container="@Node.EditorKey">		

				@*Split Code*@

				<ContextMenu class="dropzone h-8 w-8 z-20" Identifier="@Node.EditorKey">
					<Element>
						<button class="h-full w-full material-symbols-rounded rounded-lg shadow-md split-color cursor-grab
							drag-item" data-drop-zone="@($"{Node.EditorKey}-add_split")" data-item-type="split" draggable="true">
							splitscreen
						</button>
					</Element>
					<Popup>
						<div class="split-menu">
							<button @onclick="@(async () => await AddContextMenuSplitAsync("left"))">Split Left</button>
							<button @onclick="@(async () => await AddContextMenuSplitAsync("right"))">Split Right</button>
							<hr />
							<button @onclick="@(async () => await AddContextMenuSplitAsync("top"))">Split Up</button>
							<button @onclick="@(async () => await AddContextMenuSplitAsync("bottom"))">Split Down</button>
						</div>
					</Popup>
				</ContextMenu>

				<div class="@(DraggingSplitscreen ? "inset-0 flex" : "hidden") z-10 absolute flex-row">
					<div class="flex flex-none w-[15%] flex-col">
						<div class="flex-grow"></div>

						<div class="flex-none h-[60%] split-color dropzone" 
							data-ref-id="@($"{Node.EditorKey}-add_split")"
							data-drop-zone="@($"{Node.EditorKey}-add_split")"
							data-item-type="left"></div>

						<div class="flex-grow"></div>
					</div>
					<div class="flex flex-grow flex-col">
						<div class="flex-none h-[20%] split-color dropzone" 
							data-ref-id="@($"{Node.EditorKey}-add_split")"
							data-drop-zone="@($"{Node.EditorKey}-add_split")"
							data-item-type="top"></div>

						<div class="flex-grow"></div>

						<div class="flex-none h-[20%] split-color dropzone" 
							data-ref-id="@($"{Node.EditorKey}-add_split")"
							data-drop-zone="@($"{Node.EditorKey}-add_split")"
							data-item-type="bottom"></div>
					</div>
					<div class="flex flex-none w-[15%] flex-col">
						<div class="flex-grow"></div>

						<div class="flex-none h-[60%] bg-blue-400 dropzone" 
							data-ref-id="@($"{Node.EditorKey}-add_split")"
							data-drop-zone="@($"{Node.EditorKey}-add_split")"
							data-item-type="right"></div>

						<div class="flex-grow"></div>
					</div>
				</div>
					
				@*Merge Code*@

				<ContextMenu class="dropzone h-8 w-8 z-20" Identifier="@Node.EditorKey">
					<Element>
						<button class="h-full w-full material-symbols-rounded rounded-lg shadow-md cursor-grab @(CanMerge.All(x => !x) ? "bg-slate-300 text-slate-500" : "merge-color")
							drag-item" disabled="@CanMerge.All(x => !x)" data-drop-zone="@($"{Node.EditorKey}-merge")" data-item-type="merge" draggable="true">
							merge
						</button>
					</Element>
					<Popup>
						<div class="merge-menu">
							@if (CanMerge[0])
							{
								<button @onclick="@(async () => await ContextMenuMergeNodeAsync("left"))">Merge Left</button>
							}
							@if (CanMerge[3])
							{
								<button @onclick="@(async () => await ContextMenuMergeNodeAsync("right"))">Merge Right</button>
							}
							@if (CanMerge[1])
							{
								<button @onclick="@(async () => await ContextMenuMergeNodeAsync("top"))">Merge Up</button>
							}
							@if (CanMerge[2])
							{
								<button @onclick="@(async () => await ContextMenuMergeNodeAsync("bottom"))">Merge Down</button>
							}
						</div>
					</Popup>
				</ContextMenu>

				<div class="@(DraggingMerge ? "inset-0 flex" : "hidden") z-10 absolute flex-row">
					<div class="flex flex-none w-[15%] flex-col">
						<div class="flex-grow"></div>

						@if(CanMerge[0])
						{
							<div class="flex-none h-[60%] merge-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-merge")"
								data-drop-zone="@($"{Node.EditorKey}-merge")"
								data-item-type="left"></div>
						}
						else
						{
							<div class="flex-none h-[60%]"></div>
						}

						<div class="flex-grow"></div>
					</div>
					<div class="flex flex-grow flex-col">
						@if(CanMerge[1])
						{
							<div class="flex-none h-[20%] merge-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-merge")"
								data-drop-zone="@($"{Node.EditorKey}-merge")"
								data-item-type="top"></div>
						}
						else
						{
							<div class="flex-none h-[20%]"></div>
						}
						<div class="flex-grow"></div>
						@if(CanMerge[2])
						{
							<div class="flex-none h-[20%] merge-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-merge")"
								data-drop-zone="@($"{Node.EditorKey}-merge")"
								data-item-type="bottom"></div>
						}
						else
						{
							<div class="flex-none h-[20%]"></div>
						}
					</div>
					<div class="flex flex-none w-[15%] flex-col">
						<div class="flex-grow"></div>
						@if(CanMerge[3])
						{
							<div class="flex-none h-[60%] merge-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-merge")"
								data-drop-zone="@($"{Node.EditorKey}-merge")"
								data-item-type="right"></div>
						}
						else
						{
							<div class="flex-none h-[60%]"></div>
						}

						<div class="flex-grow"></div>
					</div>
				</div>

				@*Delete Node*@

				<ContextMenu class="dropzone h-8 w-8 z-20" Identifier="@Node.EditorKey">
					<Element>
						<button class="h-full w-full material-symbols-rounded rounded-lg shadow-md cursor-grab @(CanDelete.All(x => !x) ? "bg-slate-300 text-slate-500" : "delete-color")
							drag-item" disabled="@CanDelete.All(x => !x)" data-drop-zone="@($"{Node.EditorKey}-delete")" data-item-type="delete" draggable="true">
							delete
						</button>
					</Element>
					<Popup>
						<div class="delete-menu">
							@if (CanDelete[0])
							{
								<button @onclick="@(async () => await ContextMenuDeleteNodeAsync("left"))">Delete (Fill from the Left)</button>
							}
							@if (CanDelete[3])
							{
								<button @onclick="@(async () => await ContextMenuDeleteNodeAsync("right"))">Delete (Fill from the Right)</button>
							}
							@if (CanDelete[1])
							{
								<button @onclick="@(async () => await ContextMenuDeleteNodeAsync("top"))">Delete (Fill from the Top)</button>
							}
							@if (CanDelete[2])
							{
								<button @onclick="@(async () => await ContextMenuDeleteNodeAsync("bottom"))">Delete (Fill from the Bottom)</button>
							}
						</div>
					</Popup>
				</ContextMenu>

				<div class="@(DraggingDelete ? "inset-0 flex" : "hidden") z-10 absolute flex-row">
					<div class="flex flex-none w-[15%] flex-col">
						<div class="flex-grow"></div>

						@if(CanDelete[0])
						{
							<div class="flex-none h-[60%] delete-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-delete")"
								data-drop-zone="@($"{Node.EditorKey}-delete")"
								data-item-type="left"></div>
						}
						else
						{
							<div class="flex-none h-[60%]"></div>
						}

						<div class="flex-grow"></div>
					</div>
					<div class="flex flex-grow flex-col">
						@if(CanDelete[1])
						{
							<div class="flex-none h-[20%] delete-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-delete")"
								data-drop-zone="@($"{Node.EditorKey}-delete")"
								data-item-type="top"></div>
						}
						else
						{
							<div class="flex-none h-[20%]"></div>
						}
						<div class="flex-grow"></div>
						@if(CanDelete[2])
						{
							<div class="flex-none h-[20%] delete-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-delete")"
								data-drop-zone="@($"{Node.EditorKey}-delete")"
								data-item-type="bottom"></div>
						}
						else
						{
							<div class="flex-none h-[20%]"></div>
						}
					</div>
					<div class="flex flex-none w-[15%] flex-col">
						<div class="flex-grow"></div>
						@if(CanDelete[3])
						{
							<div class="flex-none h-[60%] delete-color dropzone" 
								data-ref-id="@($"{Node.EditorKey}-delete")"
								data-drop-zone="@($"{Node.EditorKey}-delete")"
								data-item-type="right"></div>
						}
						else
						{
							<div class="flex-none h-[60%]"></div>
						}

						<div class="flex-grow"></div>
					</div>
				</div>
					
				@*Node Settings*@
				<ContextMenu class="dropzone h-8 w-8 z-20" Identifier="@Node.EditorKey">
					<Element>
						<button class="h-full w-full material-symbols-rounded rounded-lg shadow-md node-settings-color"
							@onclick="OnOpenNodeSettingsAsync">
							display_settings
						</button>
					</Element>
					<Popup>
						<div class="node-settings-menu">
							<button @onclick="OnOpenNodeSettingsAsync">Open Node Settings</button>
						</div>
					</Popup>
				</ContextMenu>

				@*Editor Tools*@
				@if (Node.Component is not null)
				{
					@*There is a component here, so we need to render component settings:
						- Settings wheel for opening the configuration panel
						- Delete component actions (removes just the component, not this node)
					*@

					<ContextMenu class="dropzone h-8 w-8 z-20" Identifier="@Node.EditorKey">
						<Element>
							<button class="h-full w-full material-symbols-rounded rounded-lg shadow-md component-settings-color"
								@onclick="OnOpenComponentSettingsAsync">
								settings
							</button>
						</Element>
						<Popup>
							<div class="component-settings-menu">
								<button @onclick="OnOpenComponentSettingsAsync">Open Component Settings</button>
							</div>
						</Popup>
					</ContextMenu>

					<ContextMenu class="dropzone h-8 w-8 z-20" Identifier="@Node.EditorKey" OpenOnLeftClick="true">
						<Element>
							<button class="h-full w-full material-symbols-rounded rounded-lg shadow-md delete-component-color">
								remove_from_queue
							</button>
						</Element>
						<Popup>
							<div class="delete-component-menu">
								<button @onclick="OnDeleteComponent">Delete Component</button>
							</div>
						</Popup>
					</ContextMenu>
				}
			</div>
			
			if (Node.Component is null)
			{
				@*The node needs a UI for dropping new components into this node:
					- This should cover the existing node icons that would appear usually
					- This should only appear when a component is being dragged for an add action
					- This should not appear if there is already an existing component.
				*@

				<div class="absolute inset-0 m-2 border-slate-400 border-dashed border-4 dropzone @(DraggingComponent ? "block" : "hidden")"
					data-ref-id="@($"{Node.EditorKey}-add-component")"
					data-drop-zone="@PageEditComponent.DROPPABLE_DROPZONE"
					data-item-type="add-component"></div>
			}
		}
	</div>
	
	<div class="hidden">
		@*Call the configure render builder. There should be no visible HTML to render.*@
		@if(IsConfiguringComponent)
		{
			@Configure
		}
		else if (IsConfiguringNode)
		{
			<PageComponentEditorSettingsNode Name="Authentication">
				<div class="flex flex-col w-full h-full">
                    <p class="text-center text-xl w-full mb-1 flex-none">Node Authentication Manager</p>
                    <p class="text-center w-full mb-1 flex-none">
                        Allows for selecting the authentication scheme to use for this page.
                    </p>

					<div class="flex-grow flex relative overflow-hidden">
						<AuthorizationPolicySelector Settings="Node" EditComponent="EditComponent" />
					</div>
				</div>
			</PageComponentEditorSettingsNode>
		}
	</div>
}
else
{
	<div class="absolute inset-0 overflow-y-auto">
		@Publish
	</div>
}