﻿@tailwind base;
@tailwind components;
@tailwind utilities;

/*Core Lib*/

.form-label {
    @apply block text-sm font-medium text-gray-700;
}

.form-control {
    @apply rounded-lg p-2 border-blue-700 focus:outline-blue-700 bg-gray-200 focus:bg-white;
}

/*Components Lib*/

.part-edit-container {
    @apply py-6 sm:px-6 lg:px-8 inset-0 relative h-full;
}

.form-left {
    @apply inline-flex items-center border border-r-0 border-blue-700 focus:border-blue-900 focus:border-2 sm:min-w-fit;
}

.form-right-button {
    @apply inline-flex items-center border border-l-0 border-blue-700 hover:border-blue-900 hover:bg-blue-700 hover:text-white px-4 sm:min-w-fit;
}

.form-center {
    @apply w-full border border-blue-700 focus:border-blue-900 focus:border-2;
}

.input-group {
    @apply relative mt-5;
}

.input-label {
    @apply absolute left-0 -top-7 text-slate-800 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-slate-600 peer-placeholder-shown:top-1.5 peer-placeholder-shown:left-2 peer-focus:left-0 peer-focus:-top-7 transition-all peer-focus:text-slate-800;
}

.input-control {
    @apply w-full placeholder-transparent p-1 px-2 border border-slate-600 rounded-lg;
}

.input-radio {
    @apply appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

/* Custom Color Buttons */
.button-base {
    @apply px-2 py-1 text-center;
}

.button-op-success {
    @apply border border-op_success hover:bg-op_success hover:text-op_success_t button-base;
}

.button-op-success-solid {
    @apply border border-op_success bg-op_success text-op_success_t button-base hover:bg-slate-100 hover:text-black;
}

.button-op-danger {
    @apply border border-op_danger hover:bg-op_danger hover:text-op_danger_t button-base;
}

.button-op-danger-solid {
    @apply border border-op_danger bg-op_danger text-op_danger_t button-base hover:bg-slate-100 hover:text-black;
}

.button-util-action {
    @apply border border-util_action hover:bg-util_action hover:text-util_action_t button-base;
}

.button-util-action-solid {
    @apply border border-util_action bg-util_action text-util_action_t button-base hover:bg-slate-100 hover:text-black;
}

/* Resize Tool */

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: col-resize;
    }

/* Validation Tools */
.field-validation-valid {
    @apply hidden;
}

/* 
    Some static SVG image filters for those pesky 
    non icon portions.
*/
.svg-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(109%) contrast(101%);
}