﻿@inherits DisplayComponentBase

<PageComponent Name="Assignable Value Display" Node="Node">
    <Publish>
        @if(DisplaySettings is not null 
            && Node is not null)
        {
            <AuthorizationHandler Area="Node.AuthorizationArea">
                <Authorized>
                    @Authorized
                </Authorized>
                <NotAuthorized>
                    @NotAuthorized
                </NotAuthorized>
            </AuthorizationHandler>
        }
        else
        {
            <em>Invalid component data registration.</em>
        }
    </Publish>
    <Configure>
        @if (EditComponent is not null)
        {
            <ComponentAuthAreaSettingsTemplate Node="Node" />
            <ComponentUserScopeSettingsTemplate Node="Node" />
            <DynamicDisplayConfiguration Node="Node" DisplaySettings="DisplaySettings" />
        }
    </Configure>
</PageComponent>