﻿@inherits FormComponentBase

<PageComponent Name="Assignable Value Edit Component" Node="Node">
    <Publish>
        @if (FormSettings is not null
        && Node is not null)
        {
            <AuthorizationHandler Area="Node.AuthorizationArea">
                <Authorized>
                    @if (AssignableValue is not null)
                    {
                        <AssignableValueInput 
                            Value="AssignableValue" 
                            Label="@FormSettings.DataLabel"
                            LinkedAssignableInputSettings="FormSettings.LinkedAssignableInputSettings"
                            AssignableValueEditComponent="this"
                            ValueChanged="AssignableValueChanged"
                        />
                    }
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizationHandler>
        }
        else
        {
            <em>Invalid component data registration.</em>
        }
    </Publish>
    <Configure>
        <ComponentAuthAreaSettingsTemplate Node="Node" />
        <ComponentUserScopeSettingsTemplate Node="Node" />
        <ComponentComponentPoolSettings Node="Node" />
        <PageComponentEditorSettingsNode Name="Assignable To Edit">
            @if (EditComponent is not null)
            {
                <div class="flex-grow flex relative overflow-hidden">
		            <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                        @if (FormSettings is not null)
                        {
                            <MultiListSelectSelector
                                DisplayName="Assignable Scope"
                                MaxSelections="1"
                                SelectedItems="ScopeToPickFrom"
                                Values="FormSettings.ScopeProviders"
                                DisplayValues="ScopeNames"
                                OnValueChangedAsync="OnScopeToPickChanged"
                            />

                            @if (SelectedScope is not null)
                            {
                                <br class="my-2" />

                                <MultiListSelectSelector
                                    DisplayName="Assignable Configuration"
                                    MaxSelections="1"
                                    SelectedItems="SelectedAssignables"
                                    Values="Assignables"
                                    DisplayValues="AssignableNames"
                                    OnValueChangedAsync="OnAssignableToEditChanged"
                                />
                            }
                        }

                        @if (FormSettings?.AssignableConfiguration is ILinkedAssignableConfiguration
                            && FormSettings.LinkedAssignableInputSettings is not null)
                        {
                            <AuthorizationAreaSelector 
                                DisplayName="Select Auth Area To Filter Inputs By"                                
                                OnAuthAreaSelected="SetDataAuthAreaSelection" />

                            <div class="flex flex-row">
                                <span class="flex-grow">
                                    Selected Filter: @(FormSettings.LinkedAssignableInputSettings.DataAuthorizationArea?.Category ?? "No Category") - @(FormSettings.LinkedAssignableInputSettings.DataAuthorizationArea?.Name ?? "No Area")
                                </span>
                                <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md material-symbols-rounded bg-slate-400"
                                    @onclick="ClearDataAuthAreaSelection">
                                    close
                                </button>
                            </div>
                        }

                        <div class="flex-grow"></div>

                        <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    </div>
                </div>
            }
        </PageComponentEditorSettingsNode>
        <PageComponentEditorSettingsNode Name="Edit Label">
            @if (EditComponent is not null
                && FormSettings is not null)
            {
                <div class="flex-grow flex relative overflow-hidden">
                    <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                        <div class="input-group">
                            <InputText id="input-label" type="text" class="input-control peer" placeholder="Label"
                                       ValueExpression="() => FormSettings.DataLabel"
                                       ValueChanged="(e) => FormSettings.DataLabel = e" />
                            <label for="input-label" class="input-label">Label</label>
                        </div>

                        <div class="flex-grow"></div>

                        <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    </div>
                </div>
            }
        </PageComponentEditorSettingsNode>
    </Configure>
</PageComponent>
