﻿@inherits FormComponentBase

<PageComponent Name="Assignable Value Edit Component" Node="Node">
    <Publish>
        @if (ButtonSettings is not null
            && Node is not null)
        {
            <AuthorizationHandler Area="Node.AuthorizationArea">
                <Authorized>
                    <div class="w-full h-full p-2 grid">
                        <button class="@ButtonSettings.Data.ButtonStyle"
                            @onclick="OnButtonClickedAsync">
                            @ButtonSettings.DataLabel
                        </button>
                    </div>
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizationHandler>
        }
        else
        {
            <em>Invalid component data registration.</em>
        }
    </Publish>
    <Configure>
        <ComponentAuthAreaSettingsTemplate Node="Node" />
        <ComponentUserScopeSettingsTemplate Node="Node" />
        <ComponentComponentPoolSettings Node="Node" />
        <PageComponentEditorSettingsNode Name="Button Options" OnOpen="LoadButtonFormSettings">
            @if (EditComponent is not null
                && ButtonSettings is not null)
            {
                <div class="flex-grow flex relative overflow-hidden">
                    <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                        <MultiListSelectSelector
                            DisplayName="Form Provider"
                            Values="ValidScopes"
                            DisplayValues="ValidScopeNames"
                            SelectedItems="SelectedScopes"
                            OnValueChangedAsync="OnScopeChangedAsync"
                        />

                        <hr />

                        <label class="inline-flex items-center">
                            <InputCheckbox Value="ButtonSettings.Data.InvokeSubmit"
                                           ValueExpression="() => ButtonSettings.Data.InvokeSubmit"
                                ValueChanged="OnInvokeSubmitChanged"
                            />
                            <span class="ml-2">Invoke Form Submit</span>
                        </label>

                        <label class="inline-flex items-center">
                            <InputCheckbox @bind-Value="ButtonSettings.Data.InvokeReset" />
                            <span class="ml-2">Invoke Form Reset</span>
                        </label>

                        @if (ButtonSettings.Data.InvokeSubmit
                            && SelectedForm is not null)
                        {
                            <hr />

                            <MultiListSelectSelector
                                DisplayName="Apply Tags On Submit"
                                Values="SelectedForm.Tags"
                                DisplayValues="TagNames"
                                SelectedItems="SelectedTags"
                                OnValueChangedAsync="OnTagChangedAsync"
                            />

                            <MultiListSelectSelector
                                DisplayName="Send To Bucket (Leave Blank For Default)"
                                Values="SelectedForm.Buckets"
                                DisplayValues="BucketNames"
                                SelectedItems="SelectedBuckets"
                                OnValueChangedAsync="OnBucketChangedAsync"
                            />
                        }

                        <hr />

                        <div class="input-group">
                            <InputText id="input-label" type="text" class="input-control peer" placeholder="Label"
                                       Value="@ButtonSettings.Data.ButtonStyle"
                                       ValueExpression="() => ButtonSettings.Data.ButtonStyle"
                                       ValueChanged="(e) => ButtonSettings.Data.ButtonStyle = e" />
                            <label for="input-label" class="input-label">Button Style (CSS Classes)</label>
                        </div>

                        <div class="flex-grow"></div>

                        <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    </div>
                </div>
            }
        </PageComponentEditorSettingsNode>
        <PageComponentEditorSettingsNode Name="Edit Label">
            @if (EditComponent is not null
            && ButtonSettings is not null)
            {
                <div class="flex-grow flex relative overflow-hidden">
                    <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                        <div class="input-group">
                            <InputText id="input-label" type="text" class="input-control peer" placeholder="Label"
                                       Value="@ButtonSettings.DataLabel"
                                       ValueExpression="() => ButtonSettings.DataLabel"
                                       ValueChanged="(e) => ButtonSettings.DataLabel = e" />
                            <label for="input-label" class="input-label">Label</label>
                        </div>

                        <div class="flex-grow"></div>

                        <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    </div>
                </div>
            }
        </PageComponentEditorSettingsNode>
    </Configure>
</PageComponent>
