﻿@using ProjectDataCore.Components.Layout.Form.Bucket
@inherits FormComponentBase

<PageComponent Name="Assignable Value Edit Component" Node="Node">
    <Publish>
        @if (BucketSettings is not null
            && Node is not null)
        {
            <AuthorizationHandler Area="Node.AuthorizationArea">
                <Authorized>
                    <div class="flex flex-col gap-2 h-full p-3">
                        @if (HasActions)
                        {
                            <div class="flex-none flex flex-row gap-2">
                                <div class="flex-grow input-group">
                                    <InputSelect id="property-selector" class="form-control w-full"
                                                 @bind-Value="SelectedResponseAction">

                                        <option value="">Select an option...</option>

                                        @if (BucketSettings.AllowMove)
                                        {
                                            <option value="move">Move Responses</option>
                                        }

                                        @if (BucketSettings.AllowDelete)
                                        {
                                            <option value="delete">Delete Responses</option>
                                        }

                                        @if (BucketSettings.AllowTagEditing)
                                        {
                                            <option value="edit-tags">Edit Tags</option>
                                        }
                                    </InputSelect>
                                    <label class="form-label" for="property-selector"></label>
                                </div>
                                <ModalMenu Identifier="response-action-modal">
                                    <Element>
                                        <button class="mt-4 flex-none button-util-action text-center">Configure</button>
                                    </Element>
                                    <Popup>
                                        @switch(SelectedResponseAction)
                                        {
                                            case "move":
                                                <MoveResponses Bucket="this" />
                                                break;
                                            case "delete":
                                                <DeleteResponses Bucket="this" />
                                                break;
                                            case "edit-tags":
                                                <EditResponseTags Bucket="this" />
                                                break;
                                            default:
                                                <span>No action selected.</span>
                                                break;
                                        }
                                    </Popup>
                                </ModalMenu>
                            </div>
                        }

                        <ListRenderer Items="ActiveResponses" Context="ctx"
                            Paginate="BucketSettings.MaxItemsPerPage"
                            Class="flex-grow"
                            HasSelectionBoxes="true"
                            SelectionData="SelectionData"
                        >
                            <DynamicFormResponseItem 
                                Response="ctx.Value"
                                Settings="BucketSettings"
                                HasActions="HasActions" />
                            <ModalMenu Identifier="detailed-form-response">
                                <Element>
                                    <button class="rounded-lg w-7 h-7 border-blue-400 shadow-md bg-blue-200 material-symbols-rounded">
                                        visibility
                                    </button>
                                </Element>
                                <Popup>
                                    <ResponseFullViewComponent Settings="BucketSettings" Response="ctx.Value" />
                                </Popup>
                            </ModalMenu>
                        </ListRenderer>
                    </div>
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizationHandler>
        }
        else
        {
            <em>Invalid component data registration.</em>
        }
    </Publish>
    <Configure>
        <ComponentAuthAreaSettingsTemplate Node="Node" />
        <ComponentUserScopeSettingsTemplate Node="Node" />
        <PageComponentEditorSettingsNode Name="Bucket Options" OnOpenAsync="LoadFormsAsync">
            <div class="flex-grow flex relative overflow-hidden">
                <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                    @if (BucketSettings is not null)
                    {
                        <label class="inline-flex items-center">
                            <InputCheckbox @bind-Value="BucketSettings.AllowMove" />
                            <span class="ml-2">Allow Response Moving</span>
                        </label>
                        <label class="inline-flex items-center">
                            <InputCheckbox @bind-Value="BucketSettings.AllowDelete" />
                            <span class="ml-2">Allow Response Deletion</span>
                        </label>
                        <label class="inline-flex items-center">
                            <InputCheckbox @bind-Value="BucketSettings.AllowTagEditing" />
                            <span class="ml-2">Allow Response Tag Editing</span>
                        </label>

                        <hr />

                        <div class="input-group">
				            <InputNumber id="option-name" class="input-control peer" placeholder="Option Name"
							             @bind-Value="BucketSettings.MaxItemsPerPage" />
				            <label for="option-name" class="input-label">Max Responses Per Page</label>
			            </div>

                        <hr />

                        <MultiListSelectSelector
                            DisplayName="Select Form"
                            Values="Forms"
                            SelectedItems="SelectedFormList"
                            DisplayValues="FormNames"
                            MaxSelections="1"
                            OnValueChangedAsync="OnSelectedFormChangedAsync"
                        />

                        @if (SelectedForm is not null)
                        {
                            <MultiListSelectSelector 
                                DisplayName="Bucket To Display"
                                Values="SelectedForm.Buckets"
                                SelectedItems="SelectedBucketList"
                                DisplayValues="BucketNames"
                                MaxSelections="1"
                                OnValueChangedAsync="OnSelectedBucketChangedAsync"
                            />
                        }
                    }
                    else
                    {
                        <em>Invalid component data registration. Failed to load settings.</em>
                    }

                    <hr />

                    @if (EditComponent is not null)
                    {
                        <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    }
                </div>
            </div>
        </PageComponentEditorSettingsNode>
        <AssignableValueSettingsTemplate 
            Node="Node" 
            DisplaySettings="BucketSettings?.ItemSummaryDisplayConfig.DisplayComponentSettings"
            ForceScope="SelectedResponseTemplate"
        />
        <DisplaySettingsTemplate DisplaySettings="BucketSettings?.ItemSummaryDisplayConfig.DisplayComponentSettings" Node="Node" />
        <PageComponentEditorSettingsNode Name="Display Order" OnOpenAsync="LoadFormsAsync">
            <div class="flex-grow flex relative overflow-hidden">
                <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                    @if(BucketSettings is not null && SelectedForm is not null)
                    {
                        <div class="flex flex-row gap-2 w-full">
                            <div class="flex-grow">
                                <MultiListSelectSelector
                                    DisplayName="Select Configuration"
                                    Values="SelectedForm.Properties"
                                    SelectedItems="SelectedConfigurations"
                                    DisplayFunc="e => e.PropertyName"
                                />
                            </div>

                            <button class="button-op-success text-center flex-none"
                                @onclick="AddSelectedConfigurationsToDisplayListAsync">
                                Add To Display
                            </button>
                        </div>

                        <hr />

                        <ListRenderer Items="BucketSettings.DisplayOrders" Context="orderCtx" Sortable="true" SortableParent="BucketSettings">
                            <p class="flex-grow px-2">@orderCtx.Value.AssignableConfiguration.PropertyName</p>
                            <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded"
                                    @onclick="async () => await RemoveConfigurationFromDisplayAsync(orderCtx.Index)">
                                delete
                            </button>
                        </ListRenderer>
                    }
                    else
                    {
                        <em>There is no selected form set. Select a form in the Bucket Options.</em>
                    }

                    <hr />

                    @if (EditComponent is not null)
                    {
                        <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    }
                </div>
            </div>
        </PageComponentEditorSettingsNode>
    </Configure>
</PageComponent>