﻿@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
    <Authorized>
        <div class="h-full w-full flex flex-col gap-2">
            <AuthorizationHandler Area="new()">
                <Authorized>
                    @*Admin only area*@
                </Authorized>
            </AuthorizationHandler>

            @*Show all authorization areas with add, delete, and modify buttons.*@

            <table class="mt-2 m-3 p-1 text-center align-text-bottom">
                <thead>
                    <tr>
                        <th class="w-9/12 px-2">
                            <MultiListSelectSelector TValue="string" DisplayName="Select Cateogry"
                                Values="Categories" DisplayValues="Categories" MaxSelections="1"
                                SelectedItems="SelectedCategories" OnValueChangedAsync="OnCatSelectionChange" />
                        </th>
                        <th class="px-2 flex flex-col align-items-start input-group">
                            <button class="button-util-action w-full"
                                @onclick="async () => await AddAreaAsync()">
                                Add Auth Area
                            </button>
                        </th>
                    </tr>
                </thead>
            </table>
            <table class="m-3 p-1 text-center align-text-bottom
                           border-t border-slate-300">
                <thead>
                    <tr>
                        <th class="w-9/12 px-2">
                            <MultiListSelectSelector TValue="string" 
                                                     DisplayName="Filter By Category"
                                                     Values="Categories"
                                                     DisplayValues="Categories"
                                                     SelectedItems="SelectedFilteredCategories" 
                                                     OnValueChangedAsync="UpdateFilterAsync" />
                        </th>
                        <th class="px-2 flex flex-col align-items-start input-group">
                            <button class="button-util-action w-full"
                                @onclick="ClearFilter">
                                Clear Filter
                            </button>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="flex-grow flex flex-col justify-items-end m-3 mt-0 border border-slate-400
                        bg-slate-200 overflow-y-auto overscroll-contain">
                @foreach(var cat in SortedAreas.Keys)
                {
                    var key = cat;
                    if (SelectedFilteredCategories.Count == 0
                        || SelectedFilteredCategories.Contains(key))
                    {
                        <div class="bg-slate-200 w-full px-3 p-1 border-y first:border-t-0 border-slate-400">
                            @cat
                        </div>

                        @foreach (var item in SortedAreas[key])
                        {
                            var area = item.Value;
                            <div class="bg-slate-300 w-11/12 self-end flex flex-row px-3 gap-2 p-1
                                    border-l border-b last:border-b-0 border-slate-400">
                                <div class="flex-grow px-1">
                                    @area.Name
                                </div>
                                <AuthorizationEditComponent AuthorizationArea="area" />
                                <ContextMenu Identifier="@area.Key.ToString()" OpenOnLeftClick="true">
                                    <Element>
                                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md
                                            bg-red-400 material-symbols-rounded">
                                            delete
                                        </button>
                                    </Element>
                                    <Popup>
                                        <button class="button-op-danger-solid"
                                        @onclick="async () => await DeleteAreaAsync(area)">
                                            Confirm Delete
                                        </button>
                                    </Popup>
                                </ContextMenu>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </Authorized>
</AuthorizationHandler>