﻿@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
    <Authorized>
        <table class="my-2 p-4 text-center align-text-bottom w-full">
            <thead>
                <tr>
                    <th class="w-9/12 px-2">
                        <div class="input-group">
                            <InputText @bind-Value="NewTagName" id="new-tag" type="text"
                                       class="input-control peer" placeholder="New Tag Name" />
                            <label for="new-tag" class="input-label">New Tag Name</label>
                        </div>
                    </th>
                    <th class="px-2 flex flex-col align-items-start input-group">
                        <button class="button-util-action w-full"
                            @onclick="CreateTagAsync">
                            Add Tag
                        </button>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="flex-grow flex flex-col justify-items-end m-3 mt-0 border border-slate-400
                        bg-slate-200 overflow-y-auto overscroll-contain">
            @foreach (var tag in Tags)
            {
                var t = tag.Value;
                <div class="@(t.Editing != t.Name ? "bg-yellow-400" : "bg-slate-300") flex flex-row px-3 gap-2 p-2
                            border-l border-b last:border-b-0 border-slate-400">
                    <div class="input-group flex-grow px-1">
                        <InputText @bind-Value="t.Editing" id="edit-name" type="text" 
                            class="input-control peer" placeholder="Tag Name" />
                        <label for="edit-name" class="input-label">Tag Name</label>
                    </div>

                    <button class="rounded-lg w-8 h-8 border-slate-400 shadow-md
                        bg-slate-400 material-symbols-rounded self-end"
                            @onclick="() => t.Editing = t.Name">
                        refresh
                    </button>

                    <button class="rounded-lg w-8 h-8 border-slate-400 shadow-md
                        bg-green-400 material-symbols-rounded self-end"
                        @onclick="async () => await UpdateTagAsync(t, t.Editing)">
                        save
                    </button>

                    <ContextMenu Identifier="@t.Key.ToString()" OpenOnLeftClick="true"
                        Class="flex">
                        <Element>
                            <button class="rounded-lg w-8 h-8 border-slate-400 shadow-md
                                    bg-red-400 material-symbols-rounded self-end">
                                delete
                            </button>
                        </Element>
                        <Popup>
                            <button class="button-op-danger-solid"
                            @onclick="async () => await DeleteTagAsync(t)">
                                Confirm Delete
                            </button>
                        </Popup>
                    </ContextMenu>
                </div>
            }
        </div>
    </Authorized>
</AuthorizationHandler>