﻿@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
    <Authorized>

        <table class="mt-2 m-3 p-1 text-center align-text-bottom">
            <thead>
                <tr>
                    <th class="w-9/12 px-2">
                        <UserInput MaxSelections="1"
                                   SelectedItems="SelectedUsers"
                                   DisplayAllWhenEmpty="true" />
                    </th>
                    <th class="px-2 flex flex-col align-items-start input-group">
                        <button class="button-util-action w-full"
                            @onclick="ImpersonateUserAsync">
                            Impersonate User
                        </button>
                    </th>
                </tr>
            </thead>
        </table>
    </Authorized>
</AuthorizationHandler>