﻿<div class="inline-flex w-full h-full">
    <div class="@(SidebarVisible ? "w-[33%] p-2 scale-y-100" : "invisible scale-y-0 w-[0%]") transition-all origin-top-left">
        <div class="flex flex-col">
            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2 relative flex flex-row justify-between my-1 first:mt-0 last:mt-0">
                <span class="flex-grow">Roster Editor</span>
                <div class="flex flex-row flex-none gap-1">
                    @if (LeftMenuState == LeftMenu.RosterSelection)
                    {
                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded
							    transition-all ease-in-out duration-500
							    @(DisplayNewDisplay ? "scale-0 invisible" : "scale-100 visible")"
                                @onclick="() => DisplayNewDisplay = true">
                            add_to_queue
                        </button>

                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded
							    transition-all ease-in-out duration-500
							    @(DisplayNewTree ? "scale-0 invisible" : "scale-100 visible")"
                                @onclick="() => DisplayNewTree = true">
                            account_tree
                        </button>

                        <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded
							    transition-all ease-in-out duration-500
							    @(DisplaySearch ? "scale-0 invisible" : "scale-100 visible")"
                                @onclick="() => DisplaySearch = true">
                            search
                        </button>
                    }

                    <div class="border border-slate-400"></div>

                    <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md material-symbols-rounded bg-slate-200"
                            @onclick="ToggleSidebar">
                        keyboard_double_arrow_left
                    </button>
                </div>
            </div>

            @switch (LeftMenuState)
            {
                case LeftMenu.RosterSelection:
                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                        Roster Views
                    </div>
                    <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
						    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0
						    @(DisplayNewDisplay ? "w-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">
                        <p>Create New Display (With Tree)</p>

                        <button class="absolute rounded-lg w-7 h-7 border-slate-400 shadow-md
								    right-1 top-1 material-symbols-rounded bg-slate-200" type="button"
                                @onclick="() => DisplayNewDisplay = false">
                            close
                        </button>

                        <EditForm class="grid grid-cols-1 grid-flow-row gap-2"
                                  Model="this">
                            <div class="input-group">
                                <InputText @bind-Value="NewRosterName" id="roster-name"
                                           class="input-control peer" placeholder="Roster Display Name" />
                                <label for="roster-name" class="input-label">Roster Display Name</label>
                            </div>

                            <div class="input-group">
                                <InputText @bind-Value="TopLevelSectionName" id="tree-name"
                                           class="input-control peer" placeholder="Roster Tree Name" />
                                <label for="tree-name" class="input-label">Roster Tree Name</label>
                            </div>

                            <button class="button-op-success" @onclick="AddNewRosterDisplay">Create</button>
                        </EditForm>
                    </div>
                    <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
						    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0
						    @(DisplayNewTree ? "w-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">
                        <p>Create New Tree (No Display)</p>

                        <button class="absolute rounded-lg w-7 h-7 border-slate-400 shadow-md
								    right-1 top-1 material-symbols-rounded bg-slate-200" type="button"
                                @onclick="() => DisplayNewTree = false">
                            close
                        </button>

                        <EditForm class="grid grid-cols-1 grid-flow-row gap-2"
                                  Model="this">
                            <div class="input-group">
                                <InputText @bind-Value="TopLevelSectionName" id="tree-name"
                                           class="input-control peer" placeholder="Roster Tree Name" />
                                <label for="tree-name" class="input-label">Roster Tree Name</label>
                            </div>

                            <button class="button-op-success" @onclick="AddNewRosterTree">Create</button>
                        </EditForm>
                    </div>
                    <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
						    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0
						    @(DisplaySearch ? "w-full scale-100 my-1 p-2" : "w-0 h-0 invisible scale-0 my-0")">
                        <p>Search</p>

                        <button class="absolute rounded-lg w-7 h-7 border-slate-400 shadow-md
								    right-1 top-1 material-symbols-rounded bg-slate-200" type="button"
                                @onclick="() => DisplaySearch = false">
                            close
                        </button>

                        <EditForm class="grid grid-cols-1 grid-flow-row gap-2"
                                  Model="this">
                            @*TODO Search Form*@
                        </EditForm>
                    </div>

                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                        <button class="flex-grow button-util-action" @onclick="EditGlobalSettingsAsync">Edit Global Settings</button>
                    </div>

                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                        Roster Displays
                    </div>
                    @foreach (var disp in AllRosterDisplays)
                    {
                        <div class="flex-grow p-2 shadow-md border-slate-400 rounded-r-lg border-2 group-last:rounded-tr-lg group-last:rounded-br-none
			    grid grid-cols-3 grid-rows-1 align-center ml-4 gap-2">
                            <div class="text-left">@disp.Name</div>
                            <button class="button-util-action"
                                    @onclick="async () => await EditRosterFromDisplayAsync(disp)">
                                Edit
                            </button>
                            <ContextMenu Identifier="Delete Display Async" OpenOnLeftClick="true" Class="text-right">
                                <Element>
                                    <button class="button-op-danger">Delete</button>
                                </Element>
                                <Popup>
                                    <button class="button-op-danger-solid"
                                            @onclick="async () => await DeleteRosterDisplayAsync(disp)">
                                        Confirm Delete
                                    </button>
                                </Popup>
                            </ContextMenu>
                        </div>
                    }

                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                        Orphaned Roster Trees
                    </div>
                    @foreach (var tree in AllOrphanedRosterTrees)
                    {
                        <div class="flex-grow p-2 shadow-md border-slate-400 rounded-r-lg border-2 group-last:rounded-tr-lg group-last:rounded-br-none
			        grid grid-cols-3 grid-rows-1 align-center ml-4 gap-2">
                            <div class="text-left">@tree.Name</div>
                            <button class="button-util-action" @onclick="() => EditRosterTree(tree)">Edit</button>
                            <ContextMenu Identifier="Delete Orphan Tree Async" OpenOnLeftClick="true" Class="text-right">
                                <Element>
                                    <button class="button-op-danger">Delete</button>
                                </Element>
                                <Popup>
                                    <button class="button-op-danger-solid" @onclick="async () => await DeleteRosterTreeAsync(tree)">Confirm Delete</button>
                                </Popup>
                            </ContextMenu>
                        </div>
                    }

                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                        Top Level Roster Trees
                    </div>
                    @foreach (var tree in AllTopLevelRosterTrees)
                    {
                        <div class="flex-grow p-2 shadow-md border-slate-400 rounded-r-lg border-2 group-last:rounded-tr-lg group-last:rounded-br-none
			    grid grid-cols-3 grid-rows-1 align-center ml-4 gap-2">
                            <div class="text-left">@tree.Name</div>
                            <button class="button-util-action" @onclick="() => EditRosterTree(tree)">Edit</button>
                            <ContextMenu Identifier="Delete Top Level Tree Async" OpenOnLeftClick="true" Class="text-right">
                                <Element>
                                    <button class="button-op-danger">Delete</button>
                                </Element>
                                <Popup>
                                    <button class="button-op-danger-solid" @onclick="async () => await DeleteRosterTreeAsync(tree)">Confirm Delete</button>
                                </Popup>
                            </ContextMenu>
                        </div>
                    }
                    break;
                case LeftMenu.Editing:
                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                        Currently Editing: @(EditTree?.Name ?? "N/A")
                    </div>

                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                        <button class="flex-grow button-op-success" @onclick="SaveRosterAsync">Save Changes</button>
                    </div>

                    <EditForm Model="EditTree" class="flex flex-col">
                        @*Display Settings*@
                        @if (DisplayEdit is null)
                        {
                            <div class="grid lg:grid-cols-5 lg:grid-rows-1 grid-cols-1 grid-rows-2 p-2 shadow-md border-slate-400 rounded-r-lg
                                border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <InputSelect id="tree-display-selector" class="form-control md:col-span-4" @bind-Value="DisplayEditKey">
                                    <option value="@Guid.Empty">n/a</option>
                                    @foreach (var item in AllDisplaysInEditTree)
                                    {
                                        <option value="@item.Key">@item.Name (for: @item.HostRoster?.Name)</option>
                                    }
                                </InputSelect>
                                <button class="button-util-action flex-grow"
                                        @onclick="StartRosterDisplayEdit">
                                    Edit Display
                                </button>
                            </div>
                        }
                        else
                        {
                            <EditForm Model="DisplayEdit" Context="DisplayEditContext" class="flex flex-col p-2 shadow-md border-slate-400
                                rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <div class="input-group">
                                    <InputText @bind-Value="DisplayEdit.Name" id="roster-display-name-edit"
                                               class="input-control peer" placeholder="Roster Display Name" />
                                    <label for="roster-display-name-edit" class="input-label">Roster Display Name</label>
                                </div>

                                <button class="flex-grow button-util-action" @onclick="CloseRosterDisplayEdits">Close</button>
                            </EditForm>
                        }

                        <hr />
                    </EditForm>

                    <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                        <button class="flex-grow button-op-danger" @onclick="AbortRosterEditAsync">Abort</button>
                    </div>
                    break;
                case LeftMenu.GlobalPermissions:
                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                        <button class="flex-grow button-util-action" @onclick="ExitGlobalSettingsAsync">Exit</button>
                    </div>

                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative my-1 first:mt-0 last:mt-0">
                        Global Settings
                    </div>

                    <div class="shadow-md border-slate-400 rounded-r-lg border-2 grid grid-cols-1 grid-flow-row gap-2
						    relative transition-all origin-top-left duration-500 first:mt-0 last:mt-0 w-full scale-100 my-1 p-2">
                        <p>Create New Permission</p>

                        <EditForm class="grid grid-cols-1 grid-flow-row gap-2"
                                  Model="this">

                            <MultiListSelectSelector Values="AuthorizationTags"
                                                     DisplayFunc="e => e.Name"
                                                     SelectedItems="SelectedTagsToAdd"
                                                     DisplayName="Select Tags to Configure" />

                            <button class="button-op-success" @onclick="AddNewSettingsAsync">Create</button>
                        </EditForm>
                    </div>

                    <ListRenderer Items="TagPermissions" Context="ctx">
                        <span class="flex-grow">@ctx.Value.AuthorizationTag!.Name</span>

                        <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded split-color"
                                @onclick="async () => await StartSettingsEditAsync(ctx.Value)">
                            edit
                        </button>
                        <ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
                            <Element>
                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color
                                               disabled:bg-slate-600 disabled:text-white">
                                    delete
                                </button>
                            </Element>
                            <Popup>
                                <button class="button-op-danger-solid"
                                        @onclick="async () => await DeleteSettingsAsync(ctx.Value)">
                                    Confirm Delete
                                </button>
                            </Popup>
                        </ContextMenu>
                    </ListRenderer>
                    break;
            }
        </div>
    </div>
    <div class="flex-grow relative transition-all">
        <CascadingValue Value="this" Name="RosterEditComponent">
            @if (!SidebarVisible)
            {
                <div class="absolute left-1 top-1 flex flex-col w-7 h-min gap-1">
                    <button class="rounded-lg w-7 h-7 shadow-md
						    material-symbols-rounded bg-slate-200 z-30"
                            @onclick="ToggleSidebar">
                        keyboard_double_arrow_right
                    </button>
                </div>
            }

            <div class="@(SidebarVisible ? "border-l-2 border-slate-400 max-w-full max-h-full overflow-hidden" : "") h-full">
                @switch (RightMenuState)
                {
                    case RightMenu.Empty:
                        break;
                    case RightMenu.RosterEditor:
                        @if (EditTree is not null)
                        {
                            <CascadingValue Name="RosterEdit" Value="true">
                                <CascadingValue Name="OpenEdits" Value="OpenRosterEdits">
                                    <CascadingValue Name="RosterComponent" Value="ComponentSettings">
                                        <RosterTreeDisplay Tree="EditTree" />
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        }
                        break;
                    case RightMenu.GlobalPermissions:
                        @if (PermissionToEdit is not null)
                        {
                            <div class="grid grid-cols-1 grid-rows-1 p-4 gap-2">
                                <div class="flex flex-col gap-2 w-full p-4 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                                    <span class="flex-grow text-center">Currently Editing: @PermissionToEdit.AuthorizationTag!.Name</span>
                                </div>

                                <div class="flex flex-col gap-2 w-full p-4 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                                    <button class="flex-grow button-op-success" @onclick="SavePermissionEditsAsync">Save Changes</button>
                                </div>

                                <EditForm Model="PermissionToEdit" 
                                    class="flex flex-col gap-2 w-full p-4 border-2 border-slate-400 shadow-md rounded-lg bg-white">

                                    <MultiListSelectSelector Values="AllTags" DisplayFunc="e => e.Name"
                                        DisplayName="Only Valid For Child Tags"
                                        SelectedItems="PermissionToEdit.OnlyValidForTags" />

                                    <hr />

                                    <label class="inline-flex items-center">
                                        <InputCheckbox id="edit-self" placeholder="Can Edit Self"
                                                       @bind-Value="PermissionToEdit.CanEditSelf" />
                                        <span class="ml-2">Can Edit Self</span>
                                    </label>

                                    <label class="inline-flex items-center">
                                        <InputCheckbox id="edit-tree" placeholder="Can Edit Tree"
                                                       @bind-Value="PermissionToEdit.CanEditTree" />
                                        <span class="ml-2">Can Edit Tree</span>
                                    </label>

                                    <label class="inline-flex items-center">
                                        <InputCheckbox id="edit-children" placeholder="Can Edit Children"
                                                       @bind-Value="PermissionToEdit.CanEditChildren" />
                                        <span class="ml-2">Can Edit Children</span>
                                    </label>
                                </EditForm>

                                <div class="flex flex-col gap-2 w-full p-4 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                                    <button class="flex-grow button-op-danger" @onclick="StopEditingAsync">Exit</button>
                                </div>
                            </div>
                        }
                        break;
                }
            </div>
        </CascadingValue>
    </div>
</div>