﻿@if (Editing)
{
    if (Slots.Count == DisplayValues.Length)
    {
        <div class="grid grid-cols-1 mx-4 bg-white mb-10 relative">
            @for (int i = 0; i < Slots.Count; i++)
            {
                var pa = Slots[i];
                <div class="relative group grid grid-cols-2">
                    @if (SlotToEdit != pa)
                    {
                        <div class="text-right p-2 border-r @(Depth > 2 ? "border-rostert" :
                        Depth > 1 ? "border-rosters" : "border-rosterp")">
                            @pa.Name
                        </div>
                    }
                    else
                    {
                        <div class="p-2 border-r @(Depth > 2 ? "border-rostert" :
                            Depth > 1 ? "border-rosters" : "border-rosterp")">
                            <EditForm Model="this" class="grid grid-cols-10">
                                <button class="border border-op_danger hover:bg-op_danger hover:text-op_danger_t material-symbols-rounded"
                                        @onclick="() => OnEditSlot(null)"
                                        type="reset">
                                    close
                                </button>
                                <button class="border border-op_success hover:bg-op_success hover:text-op_success_t material-symbols-rounded"
                                        @onclick="OnSaveSlotEdit"
                                        type="submit">
                                    save
                                </button>
                                <InputText class="text-right text-black col-span-8 border border-util_action" @bind-Value="EditSlotName" />
                            </EditForm>
                        </div>
                    }
                    <div class="text-left p-2">@DisplayValues[i]</div>

                    @if (SlotToEdit is null)
                    {
                        @*Move Up*@
                        <div class="hidden group-hover:block absolute top-o right-20 w-8 h-8
                            rounded-lg bg-util_action text-util_action_t pt-1">
                            <AuthorizationTagSelector TagBindings="pa.AuthorizationTagBindings"
                                                      Taggable="pa"
                                                      Title="@($"Tags for {(pa.ParentRoster?.Name ?? "(Parent Not Loaded)")} - {pa.Name}")" />
                        </div>

                        @*Move Up*@
                        <div class="hidden group-hover:block absolute top-0 right-0 w-8 h-8 rounded-l-lg
                            bg-util_action text-util_action_t">
                            <button class="material-symbols-rounded"
                                    @onclick="() => OnSlotMoveUp(pa)">
                                expand_less
                            </button>
                        </div>

                        @*Move Down*@
                        <div class="hidden group-hover:block absolute bottom-0 right-10 w-8 h-8 rounded-lg
                            bg-util_action text-util_action_t">
                            <button class="material-symbols-rounded"
                                    @onclick="() => OnSlotMoveDown(pa)">
                                expand_more
                            </button>
                        </div>

                        @*Edit*@
                        <div class="hidden group-hover:block absolute bottom-0 left-20 w-8 h-8 rounded-lg
                            bg-util_action text-util_action_t">
                            <button class="material-symbols-rounded"
                                    @onclick="() => OnEditSlot(pa)">
                                edit
                            </button>
                        </div>

                        @*Delete*@
                        <ContextMenu Identifier="Delete Top Level Tree Async" OpenOnLeftClick="true" Class="hidden group-hover:block
                            absolute top-0 left-0 w-8 h-8 rounded-r-lg bg-op_danger text-op_danger_t">
                            <Element>
                                <button class="material-symbols-rounded">
                                    delete
                                </button>
                            </Element>
                            <Popup>
                                <button class="button-op-danger-solid" @onclick="() => OnDeleteSlot(pa)">Confirm Delete</button>
                            </Popup>
                        </ContextMenu>
                    }
                </div>
            }

            <div class="absolute -bottom-8 left-10 rounded-b-lg bg-util_action text-util_action_t hover:bg-op_success hover:text-op_success_t">
                <EditForm class="grid grid-cols-5 grid-rows-1" Model="this">
                    <InputText class="col-span-4 rounded-b-lg p-1 text-black focus:ring-0" placeholder="Roster Slot Name" @bind-Value="NewRosterSlotName" />
                    <button class="material-symbols-rounded"
                            @onclick="OnAddRosterSlot">
                        add
                    </button>
                </EditForm>
            </div>
        </div>
    }
}
else
{
    if (Slots.Count == DisplayValues.Length)
    {
        <div class="grid grid-cols-2 mx-4 bg-white">
            @for (int i = 0; i < DisplaySettings.Length; i++)
            {
                var settings = DisplaySettings[i];
                var displayValue = DisplayValues[i];
                var slot = Slots[i];

                <div class="text-right p-2 border-r @(Depth > 2 ? "border-rostert" :
                    Depth > 1 ? "border-rosters" : "border-rosterp")">
                    @slot.Name
                </div>
                <div class="text-left p-2 relative flex flex-row gap-2">
                    <span class="flex-grow relative">
                        @if (settings is not null)
                        {
                            <AssignableValueDisplayComponent ComponentData="settings"
                                                             Node="Node" />
                        }
                        else
                        {
                            @(displayValue)
                        }
                    </span>
                    @if (ComponentData is not null)
                    {
                        if (!ComponentData.DisableEditing && CanEditSlotAssignable(slot))
                        {
                            <ModalMenu Identifier="assign-user-to-slot">
                                <Element>
                                    <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md
                                        bg-orange-200 material-symbols-rounded">
                                        assignment_ind
                                    </button>
                                </Element>
                                <Popup>
                                    <CascadingValue Name="ReloadSlotUI" Value="ReloadSlotUIAsync">
                                        <RosterSlotAssignmentInput RosterSlot="slot" />
                                    </CascadingValue>
                                </Popup>
                            </ModalMenu>
                        }
                    }
                </div>
            }
        </div>
    }
}