﻿@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
	<Authorized>
		<div class="grid grid-cols-3 gap-4 grid-rows-1 p-3">
			<div>
				<div class="grid grid-cols-1 grid-flow-row gap-2">
					<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Assignable Value List</div>
					@foreach(var item in CurrentAssignables)
					{
						var i = item;
						<div class="p-2 shadow-md border-slate-400 rounded-lg border-2 flex align-middle gap-1">
							<p class="flex-1">@i.PropertyName</p>
							<code class="flex-1">@i.TypeName</code>
							<button class="flex-auto bg-pink-400 rounded-lg" @onclick="() => StartEdit(i)">Edit</button>
						</div>
					}
				</div>
			</div>
			<div class="col-span-2">
				<div class="border-l-2 border-slate-400 pl-4 h-full">
					<div class="grid grid-cols-1 grid-flow-row gap-2">
						<div class="shadow-lg border-2 border-slate-400 rounded-lg">
							<EditForm Context="AddAssignableContext" Model="this">
								<div class="grid grid-cols-1 gap-2 p-4">

									<div class="text-lg font-bold text-center">Assignable Value Creator</div>

									<div class="input-group">
										<InputText @bind-Value="NewAssignable" id="name" type="text" class="input-control peer" placeholder="Assignable Value Name" />
										<label for="name" class="input-label">Assignable Value Name</label>
									</div>

									<div class="input-group">
										<InputSelect id="add-name" type="" class="input-control peer" placeholder="Assignable Value Type"
											TValue="int" Value="NewConfigurationType" ValueChanged="(x) => NewConfigurationType = x"
											ValueExpression="() => NewConfigurationType">
											@for (int i = 0; i < ConfigurationTypes.Count; i++)
											{
												var x = i;
												<option value="@x">@ConfigurationTypes[x].Item2</option>
											}
										</InputSelect>
										<label for="add-name" class="input-label">Assignable Value Type</label>
									</div>

									<button class="bg-pink-400 p-1 px-2 rounded-lg" @onclick="OnCreateAssignableAsync">Create</button>
								</div>
							</EditForm>
						</div>
						@if (ToEdit is not null)
						{
							<AssignableConfigurationEditor ToEdit="ToEdit"
								OnStopEditRequestedAsync="DiscardEditAsync" />
						}
					</div>
				</div>
			</div>
		</div>
	</Authorized>
</AuthorizationHandler>