﻿<ModalMenu Identifier="@nameof(ComparisonPairListSelector)" DisplayCloseButton="true" Class="@Class">
    <Element>
        <button class="w-full text-center material-symbols-rounded @ButtonClass">
            edit
        </button>
    </Element>
    <Popup>
        <ApplyAssignableToAssignableSelectorConfig 
            Configuration="Configuration"
            Form="Form"
        />
    </Popup>
</ModalMenu>