﻿<div class="w-full h-full flex flex-col gap-2 p-4">
    <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Assign User To Configuration</div>

    <button class="button-op-success"
        @onclick="AddMapping">
        Add Mapping
    </button>

    <hr />

    @if (Left is not null && Right is not null)
    {
        <ListRenderer Items="Configuration.ApplyToValueMappings" Context="map">
            <div class="grid grid-cols-2 grid-flow-row flex-grow gap-4">
                <AssignablePropertySelector
                    Assignable="Left"
                    AllowStatic="false"
                    Configuration="map.Value.ValueFrom"
                    SetConfiguration="(e) => UpdateLeftProperty(map.Value, e)"
                    Label="Take This Value >"
                />

                <AssignablePropertySelector
                    Assignable="Right"
                    AllowStatic="false"
                    Configuration="map.Value.ValueTo"
                    SetConfiguration="map.Value.SetValueTo"
                    Label="And Apply It Here >"
                    FilterByType="map.Value.ValueToFilter"
                />
            </div>

            <ContextMenu OpenOnLeftClick="true" Identifier="AssignToCfgDelete">
                <Element>
                    <button class="rounded-lg w-7 h-full ml-2 border-slate-400 material-symbols-rounded delete-color">
                        delete
                    </button>
                </Element>
                <Popup>
                    <button class="button-op-danger-solid"
                        @onclick="() => RemoveMapping(map.Value)">
                        Confirm Delete
                    </button>
                </Popup>
            </ContextMenu>
        </ListRenderer>
    }
</div>