﻿<MultiListSelectSelector DisplayName="@DisplayName"
                         SelectedItems="ListSelection"
                         Values="ConfigValues"
                         DisplayValues="DisplayValues"
                         MaxSelections="1"
                         DontSaveSelections="true"
                         OnValueChangedAsync="OnSelectionChanged"
                         TValue="BaseAssignableConfiguration" />

@if (CurrentSelection is not null)
{
    if (CurrentSelection.GetValueType().IsAssignableTo(typeof(IAssignable)))
    {
        <ComparisonPairListSelectorPart Depth="Depth + 1"
                                        ParentConfig="CurrentSelection"
                                        Values="Values" />
    }
    else
    {
        <hr />
        <span>Selected Value: @CurrentSelection.GetPropConfigDisplay()</span>
    }
}