﻿<ModalMenu Identifier="@nameof(ComparisonPairListSelector)" DisplayCloseButton="true" Class="@Class">
    <Element>
        <button class="w-full text-center material-symbols-rounded @ButtonClass">
            @(CompareTo ? "join_right" : "join_left")
        </button>
    </Element>
    <Popup>
        <div class="w-full h-full flex flex-col gap-2 p-4">
            @if(CompareTo)
            {
                if (AssignableValue is null)
                {
                    <span>Please set the left side first.</span>
                }
                else
                {
                    <span>Compare [@AssignableValue.AssignableConfiguration.GetPropConfigDisplay()] to Value</span>

                    <AssignableValueInput Value="AssignableValue" />
                }
            }
            else
            {
                <span>Drill Down Configurations</span>

                <CascadingValue Value="AssignableSelected" Name="OnAssignableSelected">
                    <CascadingValue Value="RootSelected" Name="OnRootAssignableSelected">
                        <ComparisonPairListSelectorPart Depth="0"
                            Form="Form" Values="ComparisonPairs" />
                    </CascadingValue>
                </CascadingValue>
            }
            <div class="flex-grow"></div>
            <button class="w-full button-util-action"
                @onclick="OnCompileAndClose">
                Compile and Close
            </button>
        </div>
    </Popup>
</ModalMenu>