﻿@if(ParentNode is not null)
{
	@if (TopLevelNode)
	{
		<div class="relative max-w-full max-h-full overflow-hidden h-full">
			<AuthorizationHandler Route="ParentNode.PageSettings?.RouteRoot">
				<Authorized>
					<LayoutNodeTreeLoader ParentNode="ParentNode" EditComponent="EditComponent" />
				</Authorized>
				<NotAuthorized>
					<span>You are not authorized to view this route.</span>
				</NotAuthorized>
			</AuthorizationHandler>
		</div>
	}
	else if(ParentNode.Component is not null)
	{
		if (ComponentType is not null)
		{
			<DynamicComponent Type="ComponentType" Parameters="ComponentParams" />
		}
	}
	else if (ParentNode.Nodes.Count > 0)
	{
		if(IsEditingScope)
		{
			@*We need to use a grid system here*@

			<div class="w-full h-full relative grid overflow-hidden" 
					style="@((ParentNode.Rows ? "grid-template-rows" : "grid-template-columns") + $": {ParentNode.RawNodeWidths}")"
					data-split-container="@ParentNode.EditorKey">
				@for (int i = 0; i < ParentNode.Nodes.Count; i++)
				{
					var node = ParentNode.Nodes.FirstOrDefault(x => x.Order == i);
					
					<div class="relative">
						@if (node is not null)
						{
							<LayoutNodeTreeLoader ParentNode="node" EditComponent="EditComponent" />
						}
					</div>

					@if(i < ParentNode.Nodes.Count - 1)
					{
						<div class="bg-slate-600 @(ParentNode.Rows ? "cursor-row-resize" : "cursor-col-resize")" id="gutter-node-@i"></div>
					}
				}
			</div>
		}
		else
		{
			<div class="w-full h-full relative grid overflow-hidden" 
				style="@((ParentNode.Rows ? "grid-template-rows" : "grid-template-columns") + 
					$": {ParentNode.NodeWidths[0]} {ParentNode.NodeWidths[1]}")">
				@for(int i = 0; i < ParentNode.Nodes.Count; i++)
				{
					var node = ParentNode.Nodes.FirstOrDefault(x => x.Order == i);

					<div class="relative">
						<LayoutNodeTreeLoader ParentNode="node" EditComponent="EditComponent" />
					</div>
				}
			</div>
		}
	}
	else
	{
		<PageComponent Name="DummyComponent" Node="ParentNode">
			<Publish></Publish>
			<Editing></Editing>
		</PageComponent>
	}
}