﻿@inherits FormComponentBase

<PageComponent Name="Roster Display Component" Node="Node">
    <Publish>
        @if (RosterToDisplay is not null && RosterSettings is not null)
        {
            <div class="w-full flex flex-col gap-2 p-2">
                @if(RosterSettings.AllowUserListing)
                {
                    @if (UserList)
                    {
                        <button class="button-op-success" @onclick="ToggleUserList">View Roster Tree</button>
                    }
                    else
                    {
                        <button class="button-op-success" @onclick="ToggleUserList">View User List</button>
                    }
                }

                @if (UserList 
                    && UsersInRoster is not null
                    && ValueConfigs is not null)
                {
                    <CascadingValue Value="true" Name="DisableEdits">
                        <table>
                            <thead>
                                <tr>
                                    @foreach(var c in ValueConfigs)
                                    {
                                        <th>@c.PropertyName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var user in UsersInRoster)
                                {
                                    <tr>
                                        @foreach(var val in ValueConfigs)
                                        {
                                            <td>
                                                <AssignableValueInput
                                                    Value="user.AssignableValues.Where(e => e.AssignableConfigurationId == val.Key).First()"
                                                />
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </CascadingValue>
                }
                else
                {
                    <CascadingValue Name="RosterPermissions" Value="TagPermissions">
                        <CascadingValue Name="RosterComponent" Value="RosterSettings">
                            <RosterTreeDisplay Tree="RosterToDisplay" />
                        </CascadingValue>
                    </CascadingValue>
                }
            </div>
        }
        else
        {
            <span>No roster data.</span>
        }
    </Publish>
    <Configure>
        <ComponentAuthAreaSettingsTemplate Node="Node" />
        <ComponentUserScopeSettingsTemplate Node="Node" />
        <PageComponentEditorSettingsNode Name="Roster Options" OnOpenAsync="LoadRosterDisplaysAsync">
            <div class="flex-grow flex relative overflow-hidden">
                <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                    @if (RosterSettings is not null 
                        && RosterDisplays is not null
                    && MockAssignable is not null)
                    {
                        <MultiListSelectSelector
                            Values="RosterDisplays"
                            DisplayFunc="e => e.Name"
                            SelectedItems="SelectedRoster"
                            MaxSelections="1"
                            OnValueChanged="SelectedRosterChanged"
                            DisplayName="Select Roster Display"
                        />

                        <hr />

                        <label class="inline-flex items-center">
                            <InputCheckbox id="allow-user-listing" placeholder="Option Name"
                                           @bind-Value="RosterSettings.AllowUserListing" />
                            <span class="ml-2">Allow User Listing</span>
                        </label>

                        <div class="flex flex-row gap-2 w-full">
                            <div class="flex-grow">
                                <MultiListSelectSelector Values="MockAssignable.AssignableValues"
                                                        DisplayFunc="e => e.AssignableConfiguration.PropertyName"
                                                        SelectedItems="SelectedConfigurations"
                                                        DisplayName="Select Assignable Values to Display" />
                            </div>

                            <button class="button-op-success text-center flex-none"
                                    @onclick="AddSelectedConfigurationsToDisplayListAsync">
                                Add To Display
                            </button>
                        </div>

                        <hr />

                        <ListRenderer Items="RosterSettings.UserListDisplayedProperties" Context="orderCtx" Sortable="true" SortableParent="RosterSettings">
                            <p class="flex-grow px-2">@orderCtx.Value.AssignableConfiguration?.PropertyName</p>
                            <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md bg-slate-200 material-symbols-rounded"
                                    @onclick="async () => await RemoveConfigurationFromDisplayAsync(orderCtx.Index)">
                                delete
                            </button>
                        </ListRenderer>

                        <hr />

                        <label class="inline-flex items-center">
                            <InputCheckbox id="scoped-mode" placeholder="Enable Scoped Mode"
                                           @bind-Value="RosterSettings.Scoped" />
                            <span class="ml-2">Enable Scoped Mode</span>
                        </label>

                        <div class="input-group">
                            <InputNumber id="level-from-top" class="input-control peer" placeholder="Level From Top"
                                            @bind-Value="RosterSettings.LevelFromTop" />
                            <label for="level-from-top" class="input-label">Level From Top</label>
                        </div>

                        <div class="input-group">
                            <InputNumber id="depth" class="input-control peer" placeholder="Depth"
                                            @bind-Value="RosterSettings.Depth" />
                            <label for="depth" class="input-label">Depth</label>
                        </div>

                        <hr />

                        <label class="inline-flex items-center">
                            <InputCheckbox id="disable-edit" placeholder="Disable Editing"
                                           @bind-Value="RosterSettings.DisableEditing" />
                            <span class="ml-2">Disable Editing</span>
                        </label>

                        <div class="grid gird-cols-1 grid-rows-2">
                            <span>Editing Auth Area: @(RosterSettings.EditingAuthArea?.Name ?? "None")</span>
                            <div class="flex flex-row gap-2">
                                <div class="flex-grow">
                                    <AuthorizationAreaSelector OnAuthAreaSelectedAsync="SetEditAuthAreaAsync"
                                                               DisplayName="Edit Access Auth Area"/>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <AuthorizationEditComponent AuthorizationArea="RosterSettings.EditingAuthArea"
                                                                ShowDisabled="true" />
                                    <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color"
                                            @onclick="ClearEditAuthAreaAsync">
                                        delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    }

                    <hr />

                    @if (EditComponent is not null)
                    {
                        <button class="button-util-action text-center" 
                            @onclick="EditComponent.CloseConfigurationNodeAsync">
                            Close Menu
                        </button>
                    }
                </div>
            </div>
        </PageComponentEditorSettingsNode>
        @if (RosterSettings?.RosterTreeDisplayComponentData?.DisplayComponentSettings is not null)
        {
            <AssignableValueSettingsTemplate Node="Node"
                                             DisplaySettings="RosterSettings?.RosterTreeDisplayComponentData.DisplayComponentSettings"
                                             ForceScope="MockAssignable" />
            <DisplaySettingsTemplate DisplaySettings="RosterSettings?.RosterTreeDisplayComponentData.DisplayComponentSettings" Node="Node" />
        }
    </Configure>
</PageComponent>
