﻿@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
	<Authorized>
		<div class="grid grid-cols-3 gap-4 grid-rows-1 p-3">
			<div>
				<EditForm Model="this" class="grid grid-cols-1 grid-flow-row gap-2">
					@switch(Stage)
					{
						case ImportStage.FileSelect:
							<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">CSV Import - File Select</div>

							<InputFile OnChange="LoadFile" accept=".csv" />

							<button class="button-op-success" @onclick="StartImportAsync">Start</button>
							break;
						case ImportStage.FileOptions:
							@if (ImportConfiguration is not null)
							{
								<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">CSV Import - File Options</div>

								<button class="button-op-danger" @onclick="GoBack">Go Back</button>

								<div class="input-group">
									<InputText @bind-Value="ImportConfiguration.StandardDelimiter" id="delim" type="text" class="input-control peer" placeholder="Assignable Value Name" />
									<label for="delim" class="input-label">File Delimiter</label>
								</div>

								<div class="input-group">
									<InputText @bind-Value="ImportConfiguration.MultipleValueDelimiter" id="alt-delim" type="text" class="input-control peer" placeholder="Assignable Value Name" />
									<label for="alt-delim" class="input-label">Multiple Value (Internal) Delimiter</label>
								</div>

								<div class="grid gird-cols-3 gap-2">
									<div class="justify-self-center">
										<label class="inline-flex items-center">
											<InputCheckbox @bind-Value="ImportConfiguration.CreateNewAccounts" />
											<span class="ml-2">Create New Accounts</span>
										</label>
									</div>

									<div class="justify-self-center">
										<label class="inline-flex items-center">
											<InputCheckbox @bind-Value="ImportConfiguration.UpdateExistingAccounts" />
											<span class="ml-2">Update Existing Accounts</span>
										</label>
									</div>
								</div>
								
								<div class="justify-self-center">
									<label class="inline-flex items-center">
										<InputCheckbox @bind-Value="ImportConfiguration.HasHeaderRow" />
										<span class="ml-2">Data Has Header Row</span>
									</label>
								</div>

								<button class="button-op-success" @onclick="RegisterFileOptions">Configure</button>
							}
							else
							{
								<em>An error occoured. Pelase refresh the page.</em>
							}
							break;
						case ImportStage.ColumnConfiguration:
							@if(ImportConfiguration is not null)
							{
								<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">CSV Import - Column Configuration</div>

								<button class="button-op-danger" @onclick="GoBack">Go Back</button>

								@for(int i = 0; i < ImportConfiguration.HeaderValues.Count; i++)
								{
									var col = i;

									var colorCode = "";
									if (ImportConfiguration.IdentifierColumn == col)
									{
										colorCode = "bg-blue-300";
									}
									else if (ImportConfiguration.EmailColumn == col)
									{
										colorCode = "bg-purple-400";
									}
									else if (ImportConfiguration.PasswordColumn == col)
									{
										colorCode = "bg-slate-300";
									}
									else if (ImportConfiguration.RosterColumn == col)
									{
										colorCode = "bg-emerald-400";
									}

									<div class="p-2 shadow-md border-slate-400 rounded-lg border-2 flex align-middle gap-1 @colorCode">
										<p class="flex-1">@ImportConfiguration.HeaderValues[col]</p>

										@if(ImportConfiguration.IdentifierColumn == col)
										{
											<code class="flex-1">user id</code>
										}
										else if (ImportConfiguration.EmailColumn == col)
										{
											<code class="flex-1">email</code>
										}
										else if (ImportConfiguration.PasswordColumn == col)
										{
											<code class="flex-1">password</code>
										}
										else if (ImportConfiguration.RosterColumn == col)
										{
											<code class="flex-1">roster</code>
										}

										@if (ImportConfiguration.ValueBindings.ContainsKey(col))
										{
											<button class="flex-auto button-op-success rounded-lg" @onclick="() => EditValueBinding(col)">Edit</button>
										}
										else
										{
											<button class="flex-auto button-util-action rounded-lg" @onclick="() => AddValueBinding(col)">Add</button>
										}
									</div>
								}

								<hr />

								<button class="button-op-success" @onclick="ImportData">Import</button>
							}
							else
							{
								<em>An error occoured. Pelase refresh the page.</em>
							}
							break;
						case ImportStage.Errored:
							<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">CSV Import - Import Errored</div>

							<button class="button-op-danger" @onclick="GoBack">Go Back</button>
							break;
						case ImportStage.Import:
							<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">CSV Import - Import In Progress</div>
							break;
						case ImportStage.Done:
							<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">CSV Import - Import Complete</div>
							break;
					}
				</EditForm>
			</div>
			<div class="col-span-2">
				<div class="border-l-2 border-slate-400 pl-4 h-full">
					@if (ToEdit is not null && Stage == ImportStage.ColumnConfiguration)
					{
						<div class="grid grid-cols-1 grid-flow-row gap-2">
							<div class="border-2 border-slate-400 pt-4 p-2 rounded-lg shadow-lg">
								<EditForm Context="EditingConfigurationContext" Model="ToEdit">
									<div class="grid grid-cols-1 grid-flow-row gap-2">

										<div class="flex gap-2">
											<button class="button-util-action flex-grow" @onclick="CloseValueBinding">Close</button>
											<button class="button-op-danger material-symbols-rounded flex-none" @onclick="DeleteValueBinding">delete</button>
										</div>
										
										<hr />

										<div class="p-2 shadow-md border-slate-400 border-2 text-center">Column: @ColumnTitle</div>

										<div class="grid gird-cols-3 md:grid-cols-5 gap-2">
											<div class="justify-self-center">
												<label class="inline-flex items-center">
													<InputCheckbox @bind-Value="ToEdit.IsUserIdIdentifier" class="input-radio" type="radio" 
														name="special_states" @onclick="ToggleUserIdIdentifier" />
													<span class="ml-2">Column Is User IDs</span>
												</label>
											</div>

											<div class="justify-self-center">
												<label class="inline-flex items-center">
													<InputCheckbox @bind-Value="ToEdit.IsUsernameIdentifier" class="input-radio" type="radio"
														name="special_states" @onclick="ToggleUsernameIdentifier" />
													<span class="ml-2">Column Is Usernames</span>
												</label>
											</div>
											
											<div class="justify-self-center">
												<label class="inline-flex items-center">
													<InputCheckbox @bind-Value="ToEdit.EmailIdentifier" class="input-radio" type="radio"
														name="special_states" @onclick="ToggleEmailIdentifier" />
													<span class="ml-2">Column Is Emails</span>
												</label>
											</div>

											<div class="justify-self-center">
												<label class="inline-flex items-center">
													<InputCheckbox @bind-Value="ToEdit.PasswordIdentifier" class="input-radio" type="radio" 
														name="special_states" @onclick="TogglePasswordIdentifier" />
													<span class="ml-2">Column Is User Password Hashes</span>
												</label>
											</div>

											<div class="justify-self-center">
												<label class="inline-flex items-center">
													<InputCheckbox @bind-Value="ToEdit.RosterIdentifier" class="input-radio" type="radio" 
														name="special_states" @onclick="ToggleRosterDataIdentifier" />
													<span class="ml-2">Column Is Roster Data</span>
												</label>
											</div>
										</div>

										@if(!ToEdit.EmailIdentifier && !ToEdit.IsUserIdIdentifier
											&& !ToEdit.PasswordIdentifier && !ToEdit.IsUsernameIdentifier
											&& !ToEdit.RosterIdentifier)
										{
											<div class="p-2 shadow-md border-slate-400 border-2 text-center">Value Configuration</div>

											<AssignablePropertySelector PropertyName="@ToEdit.PropertyName" Assignable="MockTrooper"
												UseStaticProperties="ToEdit.IsStatic" SetPropertyName="(x) => { ToEdit.PropertyName = x; StateHasChanged(); }"
												SetPropertyType="(x) => { ToEdit.IsStatic = x; StateHasChanged(); }"
												AllowedStaticTypes="AllowedStaticTypes" />

											@if(!ToEdit.IsStatic)
											{
												<div class="justify-self-center">
													<label class="inline-flex items-center">
														<InputCheckbox @bind-Value="ToEdit.AutoConvert" />
														<span class="ml-2">Auto Convert Value</span>
													</label>
												</div>

												@if (!ToEdit.AutoConvert)
												{
													<div class="p-2 shadow-md border-slate-400 border-2 text-center">Manual Conversion Bindings</div>

													if((ImportConfiguration?.UniqueValues.TryGetValue(ToEditCol, out var values) ?? false)
														&& !string.IsNullOrWhiteSpace(ToEdit.PropertyName))
													{
														<div class="p-2 bg-slate-600 border rounded-lg border-slate-200 m-2 h-max flex flex-col">

															@foreach(var item in values)
															{
																var key = item;
																<div class="m-1 p-2 relative inline-flex bg-gray-400 rounded-md gap-2">
																	<p class="flex-0">@item</p>
																	@if(ToEdit.DataValueModels.TryGetValue(item, out var pair))
																	{
																		<div class="flex-grow grid grid-cols-1 gap-2">
																			<AssignableValueEditor EditModel="pair.Item1" 
																				OnUpdate="() => OnSingleValueAssignableUpdated(key)"
																				SelectedValues="pair.Item2" />

																			<hr />

																			<button class="button-op-danger material-symbols-rounded" 
																				@onclick="() => DeleteSingleValueAssignable(key)">
																				delete
																			</button>
																		</div>
																	}
																	else
																	{
																		<button class="button-op-success flex-grow" @onclick="() => CreateSingleValueAssignable(key)">Configure</button>
																	}
																</div>
															}
														</div>
													}
												}
											}
										}
										else if (ToEdit.RosterIdentifier)
										{
											<div class="p-2 shadow-md border-slate-400 border-2 text-center">Roster Import Configuration</div>

											@if(ImportConfiguration?.UniqueValues.TryGetValue(ImportConfiguration.RosterColumn, out var set) ?? false
												&& set.Count > 0)
											{

												<button class="button-util-action" @onclick="AddRosterImportConditional">Add New Conditional</button>

												@if(ToEdit.RosterImportConditionals.Count > 0)
												{
													<div class="p-2 bg-slate-600 border rounded-lg border-grey-400 m-2 h-max flex flex-col">

													@for(int i = 0; i < ToEdit.RosterImportConditionals.Count; i++)
													{
														var index = i;
														<div class="grid grid-cols-1 gap-2 m-1 p-2 relative bg-slate-200 rounded-md gap-2 flex-grow">
															<div class="input-group">
																<InputSelect @bind-Value="ToEdit.RosterImportConditionals[index].RosterTree" class="input-control" id="new-check-select">
																	<option value="@Guid.Empty"></option>
																	@foreach(var item in RosterTrees)
																	{
																		<option value="@item.Key">@item.Name</option>
																	}
																</InputSelect>
																<label for="new-check-select" class="input-label">Roster Tree to Apply To</label>
															</div>

															<hr />

															<div class="grid grid-cols-5 gap-2 items-botom">
																<div class="input-group col-span-2">
																	<InputNumber @bind-Value="ToEdit.RosterImportConditionals[index].AddRangeStart" class="input-control" />
																	<label for="new-check-select" class="input-label">Roster Slot Min</label>
																</div>
																<div class="input-group col-span-2">
																	<InputNumber @bind-Value="ToEdit.RosterImportConditionals[index].AddRangeEnd" class="input-control" />
																	<label for="new-check-select" class="input-label">Roster Slot Max</label>
																</div>
																<button class="button-op-success" @onclick="() => ConditionalAddRange(index)">Add</button>
															</div>

															@for(int z = 0; z < ToEdit.RosterImportConditionals[index].SlotRange.Count; z++)
															{
																var rangeIndex = z;
																var minPart = ToEdit.RosterImportConditionals[index].SlotRange[rangeIndex].Start.Value;
																var maxPart = ToEdit.RosterImportConditionals[index].SlotRange[rangeIndex].End.Value;
																<div class="grid grid-cols-5 gap-2 items-bottom">
																	<div class="input-group col-span-2 gap-2 align-items-center">
																		<InputNumber @bind-Value="minPart" class="input-control" disabled="true" />
																		<label for="new-check-select" class="input-label">Roster Slot Min</label>
																	</div>
																	<div class="input-group col-span-2">
																		<InputNumber @bind-Value="maxPart" class="input-control" disabled="true" />
																		<label for="new-check-select" class="input-label">Roster Slot Max</label>
																	</div>
																	<button class="button-op-danger material-symbols-rounded" @onclick="() => ConditionalRemoveRange(index, rangeIndex)">delete</button>
																</div>
															}

															<hr />

															<div class="input-group">
																<InputSelect @bind-Value="NewCheckValueString" id="new-check-select" class="input-control">
																	<option value=""></option>
																	@foreach(var item in set)
																	{
																		if(!ToEdit.ValueInRosterImports(item))
																		{
																			<option value="@item">@item</option>
																		}
																	}
																</InputSelect>
																<label for="new-check-select" class="input-label">Roster Value To Check</label>
															</div>

															<button class="button-op-success" @onclick="() => ConditionalAddCondition(index)">Add Condition</button>

															@for (int x = 0; x < ToEdit.RosterImportConditionals[index].Checks.Count; x++)
															{
																var checkIndex = x;
																var check = ToEdit.RosterImportConditionals[index].Checks[checkIndex];
																<div class="inline-flex gap-1 items-center">
																	<button class="rounded-md px-2 pb-1 flex-0
																		@(check.ParenValue == -1 ? "bg-op_success text-op_success_t" : "border border-op_success")"
																		@onclick="() => check.ParenValue = check.ParenValue == -1 ? 0 : -1">
																			(
																	</button>

																	@if(checkIndex != 0)
																	{
																		<InputEnumSelect @bind-Value="check.PreviousConditional" 
																			id="new-mapping-select" />
																	}

																	<div class="flex-grow px-2">
																		@check.Value
																	</div>

																	<button class="rounded-md px-2 pb-1 flex-0
																		@(check.ParenValue == 1 ? "bg-op_success text-op_success_t" : "border border-op_success")"
																		@onclick="() => check.ParenValue = check.ParenValue == 1 ? 0 : 1">
																			)
																	</button>

																	<div class="flex-none border border-black h-full mx-2"></div>

																	<button class="button-util-action material-symbols-rounded"
																		@onclick="() => ConditionalMoveCheck(index, checkIndex, -1)">expand_less</button>
																	
																	<button class="button-util-action material-symbols-rounded"
																		@onclick="() => ConditionalMoveCheck(index, checkIndex, 1)">expand_more</button>

																	<div class="flex-none border border-black h-full mx-2"></div>

																	<button class="button-op-danger material-symbols-rounded"
																		@onclick="() => ConditionalDeleteCheck(index, checkIndex)">delete</button>
																</div>
															}

															<button class="button-util-action" 
																@onclick="() => ConditionalValidateCheck(index)">Validate Check</button>
														</div>
													}
													</div>
												}
											}
											else
											{
												<em>No Settings to Display</em>
											}
										}

										<hr />

										<div class="flex gap-2">
											<button class="button-util-action flex-grow" @onclick="CloseValueBinding">Close</button>
											<button class="button-op-danger material-symbols-rounded flex-none" @onclick="DeleteValueBinding">delete</button>
										</div>

									</div>
								</EditForm>
							</div>
						</div>
					}
					else if (Stage == ImportStage.Import 
						|| Stage == ImportStage.Done
						|| Stage == ImportStage.Errored)
					{
						<InternalLoggerDisplay Title="Import Log" Scope="LogScope" CancellationSource="CancellationSource"
							RefreshCalled="StateHasChanged"/>
					}
				</div>
			</div>
		</div>		
	</Authorized>
</AuthorizationHandler>