﻿@if (Grant is not null)
{
    <tr class="border-t border-slate-400 even:bg-slate-200 odd:bg-slate-300 hover:bg-slate-100">
        <td class="text-right border-r border-slate-400 px-3">
            @Type
        </td>
        <td class="px-3">
            @switch(Grant)
            {
                case RosterTree t:
                    @t.Name
                    break;
                case RosterSlot s:
                    @s.Name
                    break;
                case DataCoreUser u:
                    @u.UserName
                    break;
            }
        </td>
        <td class="text-right p-1 px-2">
            <ContextMenu Identifier="@Grant.GetHashCode().ToString()" OpenOnLeftClick="true">
                <Element>
                    <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md
                        bg-red-400 material-symbols-rounded">
                        delete
                    </button>
                </Element>
                <Popup>
                    <button class="button-op-danger-solid" 
                        @onclick="OnButtonPressedAsyncInternal">
                        Confirm Delete
                    </button>
                </Popup>
            </ContextMenu>
        </td>
    </tr>
}