﻿<EditForm Model="AuthorizationArea" class="p-3 w-full h-full flex flex-col gap-2">
    <div>
        Setting the category groups authorization areas together.
    </div>
    <div class="input-group">
        <InputText @bind-Value="AuthorizationArea.Name"
                   id="category" type="text" class="input-control peer" placeholder="Category" />
        <label for="category" class="input-label">Area Name</label>
    </div>
    <div class="input-group">
        <InputText @bind-Value="AuthorizationArea.Category" 
                   id="category" type="text" class="input-control peer" placeholder="Category" />
        <label for="category" class="input-label">Category</label>
    </div>
    <br />
    <div>
        Allowing Unauthorized Users allows anyone, include those who are not logged into the
        website, access.
        <br />
        <em>This will bypass all other grants. This is mutually exclusive to Allow Only Authorized Users.</em>
    </div>
    <label class="inline-flex items-center">
        <InputCheckbox @bind-Value="AuthorizationArea.AllowUnauthorized" 
            disabled="@(AuthorizationArea.AllowOnlyAuthorized)" />
        <span class="ml-2">Allow Unauthorized Users</span>
    </label>
    <div>
        Allowing Only Authroized Users allows anyone with an account access.
        <br />
        <em>This will bypass all other grants. This is mutually exclusive to Allow Unauthorized Users.</em>
    </div>
    <label class="inline-flex items-center">
        <InputCheckbox @bind-Value="AuthorizationArea.AllowOnlyAuthorized" 
            disabled="@(AuthorizationArea.AllowUnauthorized)" />
        <span class="ml-2">Allow Only Authorized Users</span>
    </label>
</EditForm>