﻿<CascadingValue Name="RequestStateChange" Value="StateChangeRequester">
    <div class="flex flex-col w-full h-full">
        <div id="tab-header" class="flex flex-row">
            <button class="grow border border-slate-300 text-center p-1
                            @(CurrentTab == TabOptions.Settings ? "border-b-0" : "bg-slate-200")"
            @onclick="() => ChangeCurrentTab(TabOptions.Settings)">
                Settings
            </button>
            <button class="grow border border-slate-300 text-center p-1
                            @(CurrentTab == TabOptions.Grants ? "border-b-0" : "bg-slate-200")"
                @onclick="() => ChangeCurrentTab(TabOptions.Grants)">
                Grants
            </button>
        </div>

        <div id="tab-body" class="min-w-0 min-h-0 h-full w-full border-x border-slate-300
            @(CurrentTab == TabOptions.Settings ? "visible" : "hidden")">
            <AuthorizationEditComponentSettingsEditor />
        </div>
        <div id="tab-body" class="min-w-0 min-h-0 h-full w-full border-x border-slate-300
            @(CurrentTab == TabOptions.Grants ? "visible" : "hidden")">
            <AuthorizationEditComponentGrantEditor />
        </div>

        <div class="flex flex-col max-h-24 gap-1 p-3 border border-slate-300 border-t-0">
            <hr />
            <div class="grid grid-cols-2 grid-rows-1 gap-1">
                <ContextMenu Identifier="@(AuthorizationArea.Key.ToString() + "-stop-edit")" OpenOnLeftClick="true"
                             Class="justify-self-start">
                    <Element>
                        <button class="button-util-action">
                            Stop Editing
                        </button>
                    </Element>
                    <Popup>
                        <button class="button-util-action-solid"
                        @onclick="StopEditAsync">
                            Confirm Stop - Unsaved Changes Will Be Lost
                        </button>
                    </Popup>
                </ContextMenu>

                <button class="justify-self-end button-op-success"
                    @onclick="SaveAreaAsync">
                    Save Area
                </button>
            </div>
        </div>
    </div>
</CascadingValue>