﻿<div class="grid grid-cols-1 grid-rows-6 p-3 w-full h-full">
    <div class="flex flex-col gap-1 row-span-2 overflow-y-auto overscroll-contain">
        <div class="uppercase text-lg sticky top-0">
            Existing Grants
        </div>
        <table class="table-fixed border-collapse">
            <thead>
                <tr class="border-y border-slate-600 bg-slate-300 sticky top-0">
                    <th class="w-2/12 text-right border-r border-slate-400 px-2">Grant Type</th>
                    <th class="w-9/12 text-left px-2">Granter Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fullTree in AuthorizationArea.FullTrees)
                {
                    var g = fullTree;
                    <AuthorizationGrantRow Type="Full Tree" Grant="fullTree"
                        OnButtonPressedAsync="async () => await RemoveGrantAsync(g)" />
                }
                @foreach (var tree in AuthorizationArea.RosterTrees)
                {
                    var g = tree;
                    <AuthorizationGrantRow Type="Tree" Grant="tree"
                        OnButtonPressedAsync="async () => await RemoveGrantAsync(g, false)" />
                }
                @foreach (var slot in AuthorizationArea.RosterSlots)
                {
                    var g = slot;
                    <AuthorizationGrantRow Type="Slot" Grant="slot"
                        OnButtonPressedAsync="async () => await RemoveGrantAsync(g)" />
                }
                @foreach (var user in AuthorizationArea.Users)
                {
                    var g = user;
                    <AuthorizationGrantRow Type="User" Grant="user"
                        OnButtonPressedAsync="async () => await RemoveGrantAsync(g)" />
                }
            </tbody>
        </table>
    </div>

    <div class="flex flex-col gap-1 row-span-4 overflow-y-auto overscroll-contain 
            relative border-t border-slate-400">
        <div class="uppercase text-lg sticky top-0">
            Add Grant
        </div>
        <EditForm class="grid grid-cols-2 gap-2"
            Model="AuthorizationArea">

            <div class="border-r border-slate-300 p-2">
                <div class="input-group">
                    <InputEnumSelect @bind-Value="GrantSelection" class="input-control peer" />
                    <label for="add-name" class="input-label">Grant Type</label>
                </div>

                @switch (GrantSelection)
                {
                    case GrantType.Roster:
                        @*Select a roster*@
                        <table class="table-fixed border-collapse w-full mt-2">
                            <thead>
                                <tr class="border-y border-slate-600 bg-slate-300 sticky top-0">
                                    <th class="w-10/12 text-left px-2">Selected Area</th>
                                    <th class="w-1/12 text-right px-2"></th>
                                    <th class="w-1/12 text-right px-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(int i = TreeStack.Count - 1; i >=0; i--)
                            {
                                var tree = TreeStack.ElementAt(i);

                                <tr class="border-t border-slate-400 last:bg-slate-300 hover:bg-slate-100">
                                    <td class="text-left px-3">
                                        @tree.Name
                                    </td>
                                    <td class="text-right p-1 px-2">
                                        @if (TreeStack.Peek().Equals(tree))
                                        {
                                            <button class="w-7 h-7 material-symbols-rounded"
                                            @onclick="ReloadActiveRosterAsync">
                                                refresh
                                            </button>
                                        }
                                    </td>
                                        <td class="text-right p-1 px-2">
                                        @if (TreeStack.Peek().Equals(tree))
                                        {
                                            <button class="w-7 h-7 material-symbols-rounded"
                                            @onclick="MoveUpTreeStackAsync">
                                                arrow_upward
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                        <MultiListSelectSelector MaxSelections="1" SelectedItems="SelectedRosterTrees"
                            OnValueChangedAsync="RosterSelectionChangedAsync"
                            Values="RostersToList" TValue="RosterTree" 
                            DisplayValues="RostersToListDisplays"
                            DontSaveSelections="true" />
                        break;
                    case GrantType.User:
                        @*Select a user*
                            TODO: Add settings param. *@
                        <UserInput MaxSelections="1" SelectedItems="SelectedUsersForGrants" 
                                   OnValueChangedAsync="UserSelectionChangedAsync"
                                   UserSettings="UserSelectComponentSettings"
                                   DontSaveSelections="true" />
                        break;
                }
            </div>
            <div class="grid grid-cols-1 grid-rows-flow p-2">
                @if (GrantSelection == GrantType.Roster)
                {
                    if (TreeStack.TryPeek(out var topTree))
                    {
                        var top = topTree;
                        <table class="table-fixed border-collapse">
                            <thead>
                                <tr class="border-y border-slate-600 bg-slate-300 sticky top-0">
                                    <th class="w-11/12 text-left px-2">Full Roster</th>
                                    <th class="w-1/12 text-right px-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-t border-slate-400 even:bg-slate-100
                                    odd:bg-slate-200 hover:bg-slate-300">
                                    <td class="px-2">@top.Name</td>
                                    <td class="text-right px-2">
                                        <button class="w-7 h-7 material-symbols-rounded"
                                            @onclick="async () => await AddGrantAsync(top)">
                                            add_circle
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table-fixed border-collapse mt-2">
                            <thead>
                                <tr class="border-y border-slate-600 bg-slate-300 sticky top-0">
                                    <th class="w-11/12 text-left px-2">Roster</th>
                                    <th class="w-1/12 text-right px-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var tree in top.ChildRosters)
                                {
                                    var t = tree;
                                    <tr class="border-t border-slate-400 even:bg-slate-100
                                        odd:bg-slate-200 hover:bg-slate-300">
                                        <td class="px-2">@t.Name</td>
                                        <td class="text-right px-2">
                                            <button class="w-7 h-7 material-symbols-rounded"
                                            @onclick="async () => await AddGrantAsync(t, false)">
                                                add_circle
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table-fixed border-collapse mt-2">
                            <thead>
                                <tr class="border-y border-slate-600 bg-slate-300 sticky top-0">
                                    <th class="w-11/12 text-left px-2">Slot</th>
                                    <th class="w-1/12 text-right px-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var slot in top.RosterSlots)
                                {
                                    var s = slot;
                                    <tr class="border-t border-slate-400 even:bg-slate-100
                                        odd:bg-slate-200 hover:bg-slate-300">
                                        <td class="px-2">@s.Name</td>
                                        <td class="text-right px-2">
                                            <button class="w-7 h-7 material-symbols-rounded"
                                            @onclick="async () => await AddGrantAsync(s)">
                                                add_circle
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table-fixed border-collapse mt-2">
                            <thead>
                                <tr class="border-y border-slate-600 bg-slate-300 sticky top-0">
                                    <th class="w-11/12 text-left px-2">Roster</th>
                                    <th class="w-1/12 text-right px-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tree in TopLevelRosterTrees)
                                {
                                    var t = tree;
                                    <tr class="border-t border-slate-400 even:bg-slate-100
                                        odd:bg-slate-200 hover:bg-slate-300">
                                        <td class="px-2">@t.Name</td>
                                        <td class="text-right px-2">
                                            <button class="w-7 h-7 material-symbols-rounded"
                                            @onclick="async () => await AddGrantAsync(t, false)">
                                                add_circle
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </EditForm>
    </div>
</div>