﻿@if (Module.SubModules.Count > 0)
{
    <li>
        <summary>
            <span @ondblclick="() => OnDblClick(Module)">@Module.DisplayName | <a class="underline text-sky-500" href="@Module.GetHref()">@Module.GetHref()</a></span>
        </summary>
        <ul>
            @foreach (NavModule m in Module.SubModules)
            {
                <EditModuleDisplay Module="@m" OnDblClick="OnDblClick"/>
            }
        </ul>
    </li>
}
else
{
    <li>
        <span @ondblclick="() => OnDblClick(Module)">@Module.DisplayName | <a class="underline text-sky-500" href="@Module.GetHref()">@Module.GetHref()</a></span>
    </li>
}