﻿<div class="grid grid-cols-3 gap-4 grid-rows-1 p-3 h-full">
	<div>
		<div class="grid grid-cols-1 grid-flow-row gap-2">
			@Left
		</div>
	</div>
	<div class="col-span-2">
		<div class="border-l-2 border-slate-400 pl-4 h-full">
			@Right
		</div>
	</div>
</div>