﻿<ModalMenu Identifier="@nameof(AuthorizationTagSelector)" DisplayCloseButton="false">
    <Element>
        <button class="@Class material-symbols-rounded">
            format_size
        </button>
    </Element>
    <Popup>
        <div class="flex flex-col flex-grow h-full w-full p-2">
            <div class="flex-grow">
                <span class="text-lg">
                    @Title
                </span>
                <EditForm Model="Tags">
                    <MultiListSelectSelector
                        Values="ExistingTags"
                        DisplayValues="ExistingTagNames"
                        SelectedItems="Tags"
                        MaxSelections="-1"
                    />
                </EditForm>
            </div>
            <div class="flex-none flex flex-row">
                <button class="flex-grow button-util-action"
                    @onclick="OnCloseAsync">
                    Update and Close
                </button>
            </div>
        </div>
    </Popup>
</ModalMenu>