﻿@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
    <Authorized>
        <h1 class="font-bold text-center text-2xl w-100 px-3">Nav Modules</h1>
        <button @onclick="SortModules">Sort Modules</button>
        <div class="grid grid-cols-2">
            <div class="select-none">
                <ul class="pl-5 text-2xl tree">
                    @foreach (NavModule m in navModules)
                    {
                        <EditModuleDisplay Module="@m" OnDblClick="EditNavModule"/>
                    }
                </ul>
            </div>
            @if(Editing is not null)
            {
                <div>
                    <h1 class="text-bold text-center text-2xl">Editing @Editing.DisplayName</h1>
                    <EditForm Model="Editing">
                        <label class="form-label" for="name-input">Display Name</label>
                        <InputText id="link-input" class="form-control" @bind-Value="Editing.DisplayName" disabled="@(Editing.LinkToPage)" />
                        <hr />
                        <div class="flex">
                            <div class="">
                                <label class="form-label" for="pageLink-Input" >Link to page?</label>
                                <InputCheckbox id="difAuth-input" @bind-Value="@Editing.LinkToPage" />
                            </div>
                            <div class="px-3">
                                <label class="form-label" for="page-input">Page</label>
                                <InputSelect id="page-input" @bind-Value="Editing.PageId" disabled="@(!Editing.LinkToPage)">
                                    <option value="">None</option>
                                    @foreach (var _page in allPages)
                                    {
                                        <option value="@_page.Key">@_page.Name</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <hr />
                        <div class="flex" >
                            <div>
                                <label class="form-label" for="link-input">Link</label>
                                @if (Editing.LinkToPage)
                                {
                                    <p>@Editing.GetHref()</p>
                                }
                                else
                                {
                                    <InputText id="link-input" class="form-control" @bind-Value="Editing.Href" />
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="flex" > 
                            <div>
                                <label class="form-label">Parent</label>
                                <InputSelect id="parent-input" @bind-Value="Editing.ParentId">
                                    <option value="">None</option>
                                    @foreach(NavModule m in allNavModules)
                                    {

                                        @if(m.Key != Editing.Key && !Editing.SubModules!.Contains(m))
                                        {
                                            <option value="@m.Key">@m.DisplayName</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="px-3">
                                <label class="form-label" for="difAuth-Input" >Different Authorization area?</label>
                                <InputCheckbox id="difAuth-input" @bind-Value="@Editing.DifAuth" />
                            </div>
                            <div class="px-3" >
                                <label class="form-label">Policy</label>
                                <InputSelect id="page-input" @bind-Value="Editing.AuthKey" disabled="@(!Editing.DifAuth)" >
                                    <option value="">None</option>
                                    @foreach(var p in allAuthAreas)
                                    {
                                        <option value="@p.Key" >@p.Name</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <hr />
                        <div class="flex" >
                            <div>
                                <label class="form-label" for="mainPage-input">Has Main Page</label>
                                <InputCheckbox id="mainPage-input" @bind-Value="Editing.HasMainPage" />
                            </div>
                        </div>
                        <hr />
                        <button class="" @onclick="async ()=> await HandleForm()">Save</button>
                        <button class="" @onclick="async ()=> await DeleteModule()">Delete</button>
                        <button class="" @onclick="() => Editing = null">Close</button>
                    </EditForm>
                </div>
            }
            else
            {
                <button @onclick="NewNavModule"><h1 class="text-bold text-center text-2xl">New Nav Module</h1></button>
            }


        </div>
    </Authorized>
</AuthorizationHandler>