﻿
::deep .tree{
    --spacing : 1.75rem;
    --radius  : 10px;
}
::deep .tree li{
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

::deep .tree ul{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}
::deep .tree ul li{
    border-left : 2px solid #ddd;
}

::deep .tree ul li:last-child{
    border-color : transparent;
}
::deep .tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ddd;
    border-width : 0 0 2px 2px;
}
::deep .tree summary{
    display : block;
}

::deep .tree summary::marker,
::deep .tree summary::-webkit-details-marker{
    display : none;
}

::deep .tree summary:focus{
    outline : none;
}

::deep .tree summary:focus-visible{
    outline : 1px dotted #000;
}
::deep .tree li::after,
::deep .tree summary::before{
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius));
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : #ddd;
}