﻿
<div class="p-3 flex flex-col gap-2 h-full">
    <UserInput MaxSelections="1" 
               SelectedItems="SelectedUsers"
               OnValueChangedAsync="UserSelectionChangedAsync"
               UserSettings="UserSelectComponentSettings"
               DontSaveSelections="true" />

    @*TODO: Something besides the Username.*@
    <div class="grid grid-cols-2 grid-rows-1 gap-2">
        <span>Current Assignment: @RosterSlot.OccupiedBy?.UserName</span>
        <span>Selected Assignment: @SelectedUser?.UserName</span>
    </div>

    <div class="flex-grow"></div>

    <button class="button-op-success" @onclick="ConfirmAssignmentAsync">Confirm</button>
</div>
