﻿@using ProjectDataCore.Data.Structures.Form.Bucket;
@inherits StaticComponentBase

<AuthorizationHandler Area="ComponentData?.AuthorizationArea">
    <Authorized>
        <OneTwoPageLayout>
            <Left>
                @switch (LeftMenu)
                {
                    case LeftMenuState.Main:
                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Form List</div>

                        <EditForm Context="AddFormModel" Model="this"
                                  class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							grid grid-cols-1 grid-flow-row gap-2">
                            <div class="input-group">
                                <InputText @bind-Value="NewFormName" id="form-name" type="text" class="input-control peer" placeholder="Form Name" />
                                <label for="form-name" class="input-label">Form Name</label>
                            </div>

                            <button class="button-op-success" @onclick="CreateFormAsync" type="submit">Create</button>
                        </EditForm>

                        <ListRenderer Items="Forms.Values" Context="ctx">
                            <span class="flex-grow">@ctx.Value.Name</span>
                            <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded node-settings-color"
                            @onclick="async () => await StartEditFormAsync(ctx.Value)">
                                edit
                            </button>
                            <ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
                                <Element>
                                    <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color">
                                        delete
                                    </button>
                                </Element>
                                <Popup>
                                    <button class="button-op-danger-solid" @onclick="async () => await DeleteFormAsync(ctx.Value)">
                                        Confirm Delete
                                    </button>
                                </Popup>
                            </ContextMenu>
                        </ListRenderer>
                        break;

                    case LeftMenuState.EditForm:
                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">@FormToEdit?.Name</div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-success" @onclick="SaveFormAsync">Save Changes</button>
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-danger" @onclick="StopFormEditAsync">Abort</button>
                        </div>

                        @if (FormToEdit is not null)
                        {
                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Form Buckets</div>

                            <EditForm Context="AddBucketModel" Model="this"
                                      class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							grid grid-cols-1 grid-flow-row gap-2">
                                <div class="input-group">
                                    <InputText @bind-Value="NewBucketName" id="bucket-name" type="text"
                                               class="input-control peer" placeholder="Bucket Name" />
                                    <label for="bucket-name" class="input-label">Bucket Name</label>
                                </div>

                                <button class="button-op-success" @onclick="CreateBucketAsync" type="submit">Create</button>
                            </EditForm>

                            <ListRenderer Items="FormToEdit.Buckets" Context="ctx">
                                <span class="flex-grow">@ctx.Value.Name</span>
                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded node-settings-color"
                                @onclick="async () => await StartEditBucketAsync(ctx.Value)">
                                    edit
                                </button>
                                <ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
                                    <Element>
                                        <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color">
                                            delete
                                        </button>
                                    </Element>
                                    <Popup>
                                        <button class="button-op-danger-solid" @onclick="async () => await DeleteBucketAsync(ctx.Value)">
                                            Confirm Delete
                                        </button>
                                    </Popup>
                                </ContextMenu>
                            </ListRenderer>

                            <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <button class="flex-grow button-op-danger" @onclick="StopFormEditAsync">Abort</button>
                            </div>
                        }
                        break;

                    case LeftMenuState.EditBucket:
                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">@BucketToEdit?.Name</div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-success" @onclick="SaveBucketAsync">Save Changes</button>
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-danger" @onclick="StopBucketEditAsync">Abort</button>
                        </div>

                        @if (BucketToEdit is not null)
                        {
                            <EditForm Context="AddActionModel" Model="BucketToEdit"
                                      class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
									grid grid-cols-1 grid-flow-row gap-2">
                                <div class="input-group">
                                    <InputText @bind-Value="NewActionName" id="action-name" type="text"
                                               class="input-control peer" placeholder="Bucket Name" />
                                    <label for="action-name" class="input-label">Action Name</label>
                                </div>

                                <button class="button-op-success" @onclick="CreateActionAsync" type="submit">Create</button>
                            </EditForm>

                            <ListRenderer Items="BucketToEdit.Actions" Context="ctx">
                                <span class="flex-grow">@ctx.Value.Name</span>
                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded node-settings-color"
                                @onclick="async () => await StartEditActionAsync(ctx.Value)">
                                    edit
                                </button>
                                <ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
                                    <Element>
                                        <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color">
                                            delete
                                        </button>
                                    </Element>
                                    <Popup>
                                        <button class="button-op-danger-solid" @onclick="async () => await DeleteActionAsync(ctx.Value)">
                                            Confirm Delete
                                        </button>
                                    </Popup>
                                </ContextMenu>
                            </ListRenderer>

                            <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                                <button class="flex-grow button-op-danger" @onclick="StopBucketEditAsync">Abort</button>
                            </div>
                        }
                        break;

                    case LeftMenuState.EditAction:
                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">@ActionToEdit?.Name</div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-success" @onclick="SaveBucketActionAsync">Save Changes</button>
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-tr-lg border-2 relative inline-flex gap-2 my-1 first:mt-0 last:mt-0">
                            <button class="flex-grow button-op-danger" @onclick="StopActionEditAsync">Abort</button>
                        </div>
                        break;
                }
            </Left>
            <Right>
                <div class="w-full h-full flex flex-col gap-2">
                    @switch (LeftMenu)
                    {
                        case LeftMenuState.Main:
                            @* nothing *@
                            break;

                        case LeftMenuState.EditForm:
                            if (BaseAssignableConfigurationToEdit is not null)
                            {
                                <AssignableConfigurationEditor ToEdit="BaseAssignableConfigurationToEdit"
                                                               OnStopEditRequestedAsync="StopBaseAssignableConfigurationEdit" />
                            }
                            else if (FormToEdit is not null)
                            {
                                <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                                    <ul class="-mb-px flex flex-wrap text-center text-sm font-medium" id="edit-form-tab-container" data-tabs-toggle="#edit-form-tabs" role="tablist">
                                        <li class="mr-2" role="presentation">
                                            <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentEditFormTab == EditFormTab.Settings ? "text-blue-600 border-blue-600" : "")
												" id="form-edit-settings-tab" type="button"
                                            @onclick="() => ChangeEditFormTab(EditFormTab.Settings)">
                                                Settings
                                            </button>
                                        </li>
                                        <li class="mr-2" role="presentation">
                                            <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentEditFormTab == EditFormTab.Tags ? "text-blue-600 border-blue-600" : "")
												" id="form-status-settings-tab" type="button"
                                            @onclick="() => ChangeEditFormTab(EditFormTab.Tags)">
                                                Tags
                                            </button>
                                        </li>
                                        <li role="presentation">
                                            <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentEditFormTab == EditFormTab.Assignable ? "text-blue-600 border-blue-600" : "")
												" id="form-value-settings-tab" type="button"
                                            @onclick="() => ChangeEditFormTab(EditFormTab.Assignable)">
                                                Values
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div id="edit-form-tabs" class="flex flex-col flex-grow transition-all">
                                    <div class="@(CurrentEditFormTab == EditFormTab.Settings ? "" : "hidden")
										rounded-lg flex flex-col gap-2 flex-grow" id="form-edit-settings">
                                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Form Configuration</div>

                                        <EditForm Context="RenameForm" Model="FormToEdit"
                                                  class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
													grid grid-cols-1 grid-flow-row gap-2">
                                            <div class="input-group">
                                                <InputText @bind-Value="FormToEdit.Name" id="form-name" type="text"
                                                           class="input-control peer" placeholder="Form Name" />
                                                <label for="form-name" class="input-label">Form Name</label>
                                            </div>
                                        </EditForm>
                                    </div>

                                    <div class="@(CurrentEditFormTab == EditFormTab.Tags ? "" : "hidden")
										rounded-lg flex flex-col gap-2 flex-grow" id="form-status-settings">
                                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Form Tag Configurations</div>

                                        <EditForm Model="FormToEdit" class="flex flex-col flex-grow gap-2">
                                            <EditForm Context="FormStatus" Model="FormToEdit"
                                                      class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
													grid grid-cols-1 grid-flow-row gap-2">
                                                <div class="input-group">
                                                    <InputText @bind-Value="NewFormTag" id="form-status" type="text"
                                                               class="input-control peer" placeholder="Form Tag" />
                                                    <label for="form-status" class="input-label">Form Tag</label>
                                                </div>

                                                <button class="flex-grow button-util-action" @onclick="AddFormTag"
                                                        type="submit">
                                                    Add Status
                                                </button>
                                            </EditForm>

                                            <ListRenderer TValue="DynamicFormTag" Items="FormToEdit.Tags.ToArray()"
                                                          Context="ctx">
                                                <span class="flex-grow">@ctx.Value.Name</span>
                                                <ContextMenu OpenOnLeftClick="true" Identifier="FormStatusDelete">
                                                    <Element>
                                                        <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color">
                                                            delete
                                                        </button>
                                                    </Element>
                                                    <Popup>
                                                        <button class="button-op-danger-solid" @onclick="() => RemoveFormTag(ctx.Value)">
                                                            Confirm Delete
                                                        </button>
                                                    </Popup>
                                                </ContextMenu>
                                            </ListRenderer>
                                        </EditForm>
                                    </div>

                                    <div class="@(CurrentEditFormTab == EditFormTab.Assignable ? "" : "hidden")
										rounded-lg flex flex-col gap-2 flex-grow" id="form-value-settings">
                                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Form Value Configurations</div>

                                        <EditForm Context="AddBaseAssignableContext" Model="this"
                                                  class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
													grid grid-cols-1 grid-flow-row gap-2">
                                            <div class="input-group">
                                                <InputText @bind-Value="NewBaseConfigName" id="baseav-name" type="text"
                                                           class="input-control peer" placeholder="Assignable Name" />
                                                <label for="baseav-name" class="input-label">Assignable Name</label>
                                            </div>
                                            <div class="input-group">
                                                <InputSelect id="add-name" type="" class="input-control peer" placeholder="Assignable Value Type"
                                                             TValue="int" Value="NewConfigurationType" ValueChanged="(x) => NewConfigurationType = x"
                                                             ValueExpression="() => NewConfigurationType">
                                                    @for (int i = 0; i < AssignableConfigurationTypes.Count; i++)
                                                    {
                                                        var x = i;
                                                        <option value="@x">@AssignableConfigurationTypes[x].Item2</option>
                                                    }
                                                </InputSelect>
                                                <label for="add-name" class="input-label">Assignable Value Type</label>
                                            </div>

                                            <button class="button-op-success" @onclick="CreateBaseAssignableConfigurationAsync"
                                                    type="submit">
                                                Create
                                            </button>
                                        </EditForm>

                                        <ListRenderer Items="FormToEdit.Properties" Context="ctx">
                                            <span class="flex-grow">@ctx.Value.PropertyName - @ctx.Value.TypeName</span>
                                            <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded node-settings-color"
                                            @onclick="async () => await StartEditBaseAssignableAsync(ctx.Value)">
                                                edit
                                            </button>
                                            <ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
                                                <Element>
                                                    <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color">
                                                        delete
                                                    </button>
                                                </Element>
                                                <Popup>
                                                    <button class="button-op-danger-solid"
                                                    @onclick="async () => await DeleteBaseAssignableAsync(ctx.Value)">
                                                        Confirm Delete
                                                    </button>
                                                </Popup>
                                            </ContextMenu>
                                        </ListRenderer>
                                    </div>
                                </div>
                            }
                            break;

                        case LeftMenuState.EditBucket:
                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Form Bucket Configuration</div>

                            @if (BucketToEdit is not null)
                            {
                                <EditForm Context="RenameFormBucket" Model="BucketToEdit"
                                          class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
											grid grid-cols-1 grid-flow-row gap-2">
                                    <div class="input-group">
                                        <InputText @bind-Value="BucketToEdit.Name" id="bucket-name" type="text"
                                                   class="input-control peer" placeholder="Bucket Name" />
                                        <label for="bucket-name" class="input-label">Bucket Name</label>
                                    </div>
                                </EditForm>

                                <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
												grid grid-cols-1 grid-flow-row gap-2">

                                    <button class="button-util-action disabled:bg-slate-400"
                                    @onclick="SetDefaultBucketAsync"
                                            type="submit" disabled="@(BucketToEdit?.IsDefaultForKey is not null)">
                                        Set As Default
                                    </button>
                                </div>
                            }
                            break;

                        case LeftMenuState.EditAction:
                            @if (ActionToEdit is not null)
                            {
                                <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                                    <ul class="-mb-px flex flex-wrap text-center text-sm font-medium" id="edit-form-tab-container" data-tabs-toggle="#edit-form-tabs" role="tablist">
                                        <li class="mr-2" role="presentation">
                                            <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.Settings ? "text-blue-600 border-blue-600" : "")
												" type="button"
                                            @onclick="() => ChangeEditActionTab(BucketActionTabs.Settings)">
                                                Settings
                                            </button>
                                        </li>

                                        <li class="mr-2" role="presentation">
                                            <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.Filters ? "text-blue-600 border-blue-600" : "")
												" type="button"
                                            @onclick="() => ChangeEditActionTab(BucketActionTabs.Filters)">
                                                Filters
                                            </button>
                                        </li>

                                        @*
                                            Action Type Configs
                                        *@

                                        @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.MoveResponse))
                                        {
                                            <li class="mr-2" role="presentation">
                                                <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.MoveResponse ? "text-blue-600 border-blue-600" : "")
												" type="button"
                                                @onclick="() => ChangeEditActionTab(BucketActionTabs.MoveResponse)">
                                                    Move Response
                                                </button>
                                            </li>
                                        }

                                        @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.DeleteResponse))
                                        {
                                            <li class="mr-2" role="presentation">
                                                <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.DeleteResponse ? "text-blue-600 border-blue-600" : "")
												" type="button"
                                                @onclick="() => ChangeEditActionTab(BucketActionTabs.DeleteResponse)">
                                                    Delete Response
                                                </button>
                                            </li>
                                        }

                                        @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.ApplyValues))
                                        {
                                            <li class="mr-2" role="presentation">
                                                <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.ApplyValues ? "text-blue-600 border-blue-600" : "")
												" type="button"
                                                @onclick="() => ChangeEditActionTab(BucketActionTabs.ApplyValues)">
                                                    Apply Values
                                                </button>
                                            </li>
                                        }

                                        @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.AssignUserTo))
                                        {
                                            <li class="mr-2" role="presentation">
                                                <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.AssignUserTo ? "text-blue-600 border-blue-600" : "")
												" type="button"
                                                @onclick="() => ChangeEditActionTab(BucketActionTabs.AssignUserTo)">
                                                    Assign User To
                                                </button>
                                            </li>
                                        }

                                        @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.ModifyTags))
                                        {
                                            <li class="mr-2" role="presentation">
                                                <button class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-slate-300
												hover:text-slate-400
												@(CurrentActionTab == BucketActionTabs.ModifyTags ? "text-blue-600 border-blue-600" : "")"
                                                        type="button"
                                                @onclick="() => ChangeEditActionTab(BucketActionTabs.ModifyTags)">
                                                    Set Status
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div id="edit-form-tabs" class="flex flex-col flex-grow transition-all">
                                    <div class="@(CurrentActionTab == BucketActionTabs.Settings ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow" id="form-status-settings">
                                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Bucket Action Configuration</div>

                                        <EditForm Context="RenameBucketAction" Model="ActionToEdit"
                                                  class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
											grid grid-cols-1 grid-flow-row gap-2">
                                            <div class="input-group">
                                                <InputText @bind-Value="ActionToEdit.Name" id="action-name" type="text"
                                                           class="input-control peer" placeholder="Action Name" />
                                                <label for="action-name" class="input-label">Action Name</label>
                                            </div>
                                        </EditForm>

                                        <hr />

                                        @if (BucketToEdit is not null)
                                        {
                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 flex flex-col gap-2">
                                                <span class="text-lg">Bucket Action Types</span>
                                                <span>
                                                    These determine what types of actions will be taken if a response
                                                    passes the Filters. All Filters will be executed before any actions
                                                    are taken.
                                                </span>
                                                <span>
                                                    If the Delete Response action is enabled, it will always be executed
                                                    last.
                                                </span>
                                            </div>

                                            <FlagSelector Flags="ActionToEdit.ActionTypes"
                                                          OnFlagUpdatedAsync="ActionTypesUpdatedAsync" />

                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 flex flex-col gap-2">
                                                <span class="text-lg">Bucket Action Triggers</span>
                                                <span>
                                                    These determine what will cause an action to start the execution
                                                    process. If the response fails any filters, it does not execute
                                                    the action.
                                                </span>
                                            </div>

                                            <FlagSelector Flags="ActionToEdit.Triggers"
                                                          OnFlagUpdatedAsync="ActionTriggersUpdatedAsync" />
                                        }
                                    </div>

                                    <div class="@(CurrentActionTab == BucketActionTabs.Filters ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow" id="form-status-settings">
                                        <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Bucket Action Filters</div>

                                        <ListRenderer Items="ActionToEdit.Filters" TValue="BucketActionFilter"
                                            Context="ctx" Sortable="true" SortableParent="ActionToEdit">
                                            <button class="flex-none border border-slate-300 w-5 h-7 text-center" @onclick="() => ToggleStartParens(ctx.Value)">
                                                @(ctx.Value.StartParentheses ? "(" : "")
                                            </button>

                                            @if (ctx.Order != 0)
                                            {
                                                <InputEnumSelect class="w-20" @bind-Value="ctx.Value.JoinToPreviousWith" />
                                            }
                                            else
                                            {
                                                <div class="w-20"></div>
                                            }

                                            <ComparisonPairListSelector ComparisonPairs="ctx.Value.SortedCompareFromValues"
                                                Form="FormToEdit"
                                                CompareTo="false"
                                                Class="flex-grow" ButtonClass="node-settings-color"
                                                Filter="ctx.Value" />

                                            <InputEnumSelect class="w-20" @bind-Value="ctx.Value.Comparison" />

                                            <ComparisonPairListSelector ComparisonPairs="ctx.Value.SortedCompareFromValues"
                                                Form="FormToEdit" AssignableValue="ctx.Value.GetAssignableValueForEditing()"
                                                CompareTo="true" Class="flex-grow" ButtonClass="node-settings-color"
                                                Filter="ctx.Value" />

                                            <button class="flex-none border border-slate-300 w-5 h-7 text-center" @onclick="() => ToggleEndParens(ctx.Value)">
                                                @(ctx.Value.EndParentheses ? ")" : "")
                                            </button>
                                        </ListRenderer>

                                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
												grid grid-cols-1 grid-flow-row gap-2">

                                            <button class="button-util-action"
                                                @onclick="AddActionFilter">
                                                Add Filter
                                            </button>
                                        </div>
                                    </div>

                                    @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.MoveResponse)
                                        && FormToEdit is not null)
                                    {
                                        <div class="@(CurrentActionTab == BucketActionTabs.MoveResponse ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow" id="form-status-settings">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Move Response Configuration</div>

                                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2 flex flex-row">
                                                <span class="flex-grow">Currently moving responses to: @(ActionToEdit.MoveResponse_MoveTo?.Name ?? "N/A")</span>
                                                <button class="rounded-lg w-7 h-7 border-slate-400 material-symbols-rounded delete-color"
                                                    @onclick="ActionMoveBucketValueChanged">
                                                    delete
                                                </button>
                                            </div>

                                            <MultiListSelectSelector
                                                MaxSelections="1"
                                                DontSaveSelections="true"
                                                Values="FormToEdit.Buckets"
                                                DisplayValues="FormBucketNames"
                                                SelectedItems="ActionMoveBuckets"
                                                OnValueChangedAsync="ActionMoveBucketValueChanged"
                                            />
                                        </div>
                                    }

                                    @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.DeleteResponse))
                                    {
                                        <div class="@(CurrentActionTab == BucketActionTabs.DeleteResponse ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Delete Response Configuration</div>

                                            <span>
                                                This has no configuration - it just deletes the response.
                                                However, it is recommended that a response is moved into a
                                                "deleted" bucket rather than actually deleting the response
                                                so a record can be kept. Deleting a response via this action
                                                is irreversible.
                                            </span>
                                        </div>
                                    }

                                    @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.ApplyValues))
                                    {
                                        <div class="@(CurrentActionTab == BucketActionTabs.ApplyValues ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Apply Values Configuration</div>

                                            <button class="button-op-success"
                                                @onclick="AddApplyToConfiguration">
                                                    Add Configuration
                                            </button>

                                            <hr />

                                            <ListRenderer Items="ActionToEdit.ApplyValuesConfigurations" Context="cfg">
                                                <div class="grid grid-cols-2 flex-grow gap-4">
                                                    <MultiListSelectSelector
                                                        DisplayName="User To Assign"
                                                        Values="CanApplyTo"
                                                        DisplayValues="CanApplyToNames"
                                                        SelectedItems="cfg.Value.MultiApplyTo"
                                                        MaxSelections="1"
                                                    />

                                                    @if (cfg.Value.AssignableToApplyTo is not null)
                                                    {
                                                        <ApplyAssignableToAssignableSelector
                                                            Configuration="cfg.Value"
                                                            Form="FormToEdit"
                                                            Class="h-full"
                                                            ButtonClass="h-full node-settings-color rounded-lg"
                                                        />
                                                    }
                                                </div>

                                                <ContextMenu OpenOnLeftClick="true" Identifier="AssignToCfgDelete">
                                                    <Element>
                                                        <button class="rounded-lg w-7 h-full ml-2 border-slate-400 material-symbols-rounded delete-color">
                                                            delete
                                                        </button>
                                                    </Element>
                                                    <Popup>
                                                        <button class="button-op-danger-solid"
                                                            @onclick="() => RemoveApplyToConfiguration(cfg.Value)">
                                                            Confirm Delete
                                                        </button>
                                                    </Popup>
                                                </ContextMenu>
                                            </ListRenderer>
                                        </div>
                                    }

                                    @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.AssignUserTo))
                                    {
                                        <div class="@(CurrentActionTab == BucketActionTabs.AssignUserTo ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Assign User To Configuration</div>

                                            <button class="button-op-success"
                                                @onclick="AddAssignToConfiguration">
                                                    Add Configuration
                                            </button>

                                            <hr />

                                            <ListRenderer Items="ActionToEdit.AssignToConfigurations" Context="cfg">
                                                <div class="grid grid-cols-2 flex-grow gap-4">
                                                    <MultiListSelectSelector
                                                        DisplayName="User To Assign"
                                                        Values="CanAssign"
                                                        DisplayValues="CanAssignNames"
                                                        SelectedItems="cfg.Value.MultiAssignTo"
                                                        MaxSelections="1"
                                                    />

                                                    <MultiListSelectSelector
                                                        DisplayName="Locations to Assign To"
                                                        Values="CanAssignTo"
                                                        DisplayValues="CanAssignToNames"
                                                        SelectedItems="cfg.Value.AssignTo"
                                                    />
                                                </div>

                                                <ContextMenu OpenOnLeftClick="true" Identifier="AssignToCfgDelete">
                                                    <Element>
                                                        <button class="rounded-lg w-7 h-full ml-2 border-slate-400 material-symbols-rounded delete-color">
                                                            delete
                                                        </button>
                                                    </Element>
                                                    <Popup>
                                                        <button class="button-op-danger-solid"
                                                            @onclick="() => RemoveAssignToConfiguration(cfg.Value)">
                                                            Confirm Delete
                                                        </button>
                                                    </Popup>
                                                </ContextMenu>
                                            </ListRenderer>
                                        </div>
                                    }

                                    @if (ActionToEdit.ActionTypes.HasFlag(BucketAction.ActionType.ModifyTags)
                                        && FormToEdit is not null)
                                    {
                                        <div class="@(CurrentActionTab == BucketActionTabs.ModifyTags ? "" : "hidden")
											rounded-lg flex flex-col gap-2 flex-grow">
                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Modify Tags Configuration</div>

                                            <hr />

                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Add Tags</div>

                                            <MultiListSelectSelector
                                                DisplayName="Apply Tags On Submit"
                                                Values="FormToEdit.Tags"
                                                DisplayValues="FormTagNames"
                                                SelectedItems="ActionToEdit.ModifyTags_AddTags"
                                            />

                                            <hr />

                                            <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Remove Tags</div>

                                            <MultiListSelectSelector
                                                DisplayName="Apply Tags On Submit"
                                                Values="FormToEdit.Tags"
                                                DisplayValues="FormTagNames"
                                                SelectedItems="ActionToEdit.ModifyTags_RemoveTags"
                                            />
                                        </div>
                                    }
                                </div>
                            }
                            break;
                    }
                </div>
            </Right>
        </OneTwoPageLayout>
    </Authorized>
</AuthorizationHandler>