﻿@if (EditModel is not null && Loaded)
{
	switch (ToEdit)
	{
		@*
			<div class="input-group">
                <InputText id="page-name-search" type="text" class="input-control peer" placeholder="@Label"
                    Value="@NameSearch" ValueExpression="() => NameSearch" ValueChanged="OnNameSearchChanged" />
                <label for="option-name" class="input-label">@Label</label>
            </div>

			<label class="inline-flex items-center">
				<InputCheckbox @bind-Value="UserScopeToEdit.IncludeLocalUser" />
				<span class="ml-2">Include Local User</span>
			</label>
		*@

		case DateTimeValueAssignableConfiguration c:
			<div class="inline-flex gap-2 w-full">
				<div class="input-group">
					<InputDate id="option-name" class="input-control peer flex-grow" placeholder="Option Name"
							   Value="EditModel.DateValue" ValueExpression="() => EditModel.DateValue"
							   ValueChanged="(x) => ValueChanged(() => EditModel.DateValue = x)"
							   TValue="DateTime" disabled="@DisableEdits" />
					<label for="option-name" class="input-label">@Label</label>
				</div>
				<div class="input-group">
					<InputText type="time" id="option-name-alt" class="input-control peer flex-grow" placeholder="Option Name"
							   Value="@EditModel.NewOptionTime" ValueExpression="() => EditModel.NewOptionTime"
							   ValueChanged="(x) => ValueChanged(() => EditModel.NewOptionTime = x)"
							   disabled="@DisableEdits" />
					<label for="option-name-alt" class="input-label">@Label</label>
				</div>
			</div>
			break;
		case DateOnlyValueAssignableConfiguration c:
			<div class="input-group">
				<InputDate id="option-name" class="input-control peer" placeholder="Option Name"
						   Value="EditModel.DateValue" ValueExpression="() => EditModel.DateValue"
						   ValueChanged="(x) => ValueChanged(() => EditModel.DateValue = x)"
						   TValue="DateTime" disabled="@DisableEdits" />
				<label for="option-name" class="input-label">@Label</label>
			</div>
			break;
		case TimeOnlyValueAssignableConfiguration c:
			<div class="input-group">
				<InputText type="time" id="option-name" class="input-control peer" placeholder="Option Name"
						   Value="@EditModel.NewOptionTime" ValueExpression="() => EditModel.NewOptionTime"
						   ValueChanged="(x) => ValueChanged(() => EditModel.NewOptionTime = x)"
						   disabled="@DisableEdits" />
				<label for="option-name" class="input-label">@Label</label>
			</div>
			break;

		case IntegerValueAssignableConfiguration c:
			<div class="input-group">
				<InputNumber id="option-name" class="input-control peer" placeholder="Option Name"
							 Value="@EditModel.IntValue" ValueExpression="() => EditModel.IntValue"
							 ValueChanged="(x) => ValueChanged(() => EditModel.IntValue = x)"
							 TValue="int" disabled="@DisableEdits" />
				<label for="option-name" class="input-label">@Label</label>
			</div>
			break;
		case DoubleValueAssignableConfiguration c:
			<div class="input-group">
				<InputNumber id="option-name" class="input-control peer" placeholder="Option Name"
							 Value="@EditModel.DoubleValue" ValueExpression="() => EditModel.DoubleValue"
							 ValueChanged="(x) => ValueChanged(() => EditModel.DoubleValue = x)"
							 TValue="double" disabled="@DisableEdits" />
				<label for="option-name" class="input-label">@Label</label>
			</div>
			break;

		case StringValueAssignableConfiguration c:
			<div class="input-group">
				<InputText id="option-name" class="input-control peer" placeholder="Option Name"
						   Value="@EditModel.StringValue" ValueExpression="() => EditModel.StringValue"
						   ValueChanged="(x) => ValueChanged(() => EditModel.StringValue = x)"
						   disabled="@DisableEdits" />
				<label for="option-name" class="input-label">@Label</label>
			</div>
			break;

		case BooleanValueAssignableConfiguration c:
			<label class="inline-flex items-center">
				<InputCheckbox id="option-name" placeholder="Option Name"
							   Value="@EditModel.BoolValue" ValueExpression="() => EditModel.BoolValue"
							   ValueChanged="(x) => ValueChanged(() => EditModel.BoolValue = x)"
							   disabled="@DisableEdits" />
				<span class="ml-2">@Label</span>
			</label>
			break;

		case DataCoreUserValueAssignableConfiguration c:
			<MultiListSelectSelector
				Values="UserData"
				DisplayValues="UserDataDisplays"
				SelectedItems="UserDataSelection"
				AllowFreehand="c.AllowedInput == BaseAssignableConfiguration.InputType.FreehandOnly 
					|| c.AllowedInput == BaseAssignableConfiguration.InputType.Both"
				DisplayName="@Label"
				MaxSelections="1"
				OnValueChanged="() => ValueChanged(() => EditModel.UserValue = UserDataSelection!.FirstOrDefault())"
			/>
			break;

		case RosterSlotValueAssignableConfiguration c:
			<MultiListSelectSelector
				Values="SlotData"
				DisplayValues="SlotDataDisplays"
				SelectedItems="SlotDataSelection"
				AllowFreehand="c.AllowedInput == BaseAssignableConfiguration.InputType.FreehandOnly 
					|| c.AllowedInput == BaseAssignableConfiguration.InputType.Both"
				DisplayName="@Label"
				MaxSelections="1"
				OnValueChanged="() => ValueChanged(() => EditModel.RosterSlotValue = SlotDataSelection!.FirstOrDefault())"
			/>
			break;
	}
}