﻿<CascadingAuthenticationState>
    <DataCoreRouter>
        <HasComponent Context="ActivePair">
            <CascadingValue Value="@ActivePair.Item1" Name="RefreshRequest">
                <RouteView RouteData="@ActivePair.Item2" DefaultLayout="@typeof(MainLayout)" />
            </CascadingValue>
        </HasComponent>
        <NoComponent>
            <span>No found.</span>
        </NoComponent>
    </DataCoreRouter>
</CascadingAuthenticationState>
