﻿<div class="inline-flex group my-1 first:mt-0 last:mt-0">
    <div class="flex-grow p-2 shadow-md border-slate-400 rounded-r-lg border-2 group-last:rounded-tr-lg group-last:rounded-br-none
		flex-row flex gap-1 align-center">
        @if (Tree.ChildRoots.Count > 0)
        {
            <button class="flex-none rounded-lg shadow-md split-color w-7 h-7 material-symbols-rounded"
                @onclick="SwitchChildDisplay">
                @if (DisplayChildRoutes)
                {
                    @("arrow_drop_down")
                }
                else
                {
                    @("arrow_right")
                }
            </button>
        }
        else
        {
            <span class="flex-none w-7"></span>
        }

        <div class="font-mono text-left flex-grow w-6/12">
            @if (Tree.Root is null)
            {
                @("No Route")
            }
            else if (Tree.Root.Route.Equals(""))
            {
                @("/")
            }
            else
            {
                @Tree.Root.Route
            }
        </div>

        @if(Tree.Root?.Page is null)
        {
            <div class="text-center flex-grow">No Page</div>
        }
        else
        {
            <div class="text-center flex-grow">@(Tree.Root.Page.Name ?? "Unnamed Page")</div>
        }

        @if (Tree.Root is not null
            && OnViewRouteDetails is not null)
        {
            <button class="flex-none rounded-lg shadow-md split-color w-7 h-7 material-symbols-rounded"
                @onclick="async () => await OnViewRouteDetails(Tree.Root)">
                    settings_applications        
            </button>
        }
    </div>
</div>
<div class="relative transition-all origin-top-left duration-500 after:transition-all 
            flex flex-col gap-1 my-0 pl-2
			@(DisplayChildRoutes ? "w-full h-full scale-100 my-1" : "w-0 h-0 invisible scale-0 my-0")">

    @foreach (var r in Tree.ChildRoots)
    {
        var tree = r.Value;

            <PageEditRouteRootDisplay Tree="tree"
                                    OnViewRouteDetails="OnViewRouteDetails!"
                                    RefreshRequested="RefreshRequested" />
    }
</div>