﻿<div class="border-2 border-slate-400 pt-4 p-2 rounded-lg shadow-lg">
	<EditForm Context="EditingConfigurationContext" Model="ToEdit">
		<div class="grid grid-cols-1 grid-flow-row gap-2">

			<div class="grid grid-cols-2 gap-4">
				<button class="border border-green-400 hover:bg-green-400 rounded-lg px-2 p-1" @onclick="SaveEditAsync">Save</button>
				<button class="border border-red-600 hover:bg-red-600 rounded-lg px-2 p-1" @onclick="OnStopEditRequestedAsync">Discard</button>
			</div>

			<div class="grid grid-cols-2 gap-3">
				<div class="input-group">
					<InputText @bind-Value="ToEdit.PropertyName" id="edit-name" type="text" class="input-control peer" placeholder="Assignable Value Name" />
					<label for="edit-name" class="input-label">Assignable Value Name</label>
				</div>
				<div class="input-group">
					<InputEnumSelect @bind-Value="ToEdit.AllowedInput" id="allowed-inputs" type="" class="input-control peer" placeholder="Allowed Inputs" />
					<label for="allowed-inputs" class="input-label">Allowed Inputs</label>
				</div>
			</div>

			<div class="justify-self-center">
				<label class="inline-flex items-center">
					<InputCheckbox @bind-Value="ToEdit.AllowMultiple" />
					<span class="ml-2">Allow Multiple Values</span>
				</label>
			</div>

			<AssignableValueInputCore EditModel="ValueEditModel" ToEdit="ToEdit" />

			<button class="bg-pink-400 p-1 px-2 rounded-lg" @onclick="AddNewOption">Add Option</button>

			<div>
				<div class="grid grid-cols-1 grid-flow-row gap-2">
					<div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2">Assignable Value List</div>

					@for (int i = 0; i < ItemList.Count; i++)
					{
						var x = i;
						<div class="p-2 shadow-md border-slate-400 rounded-lg border-2 flex align-middle gap-1">
							@if (MoveIndex >= 0)
							{
								if (MoveIndex == x)
								{
									<button class="flex-0 px-2 border-red-600 hover:bg-red-600 border p-1 rounded-lg" @onclick="() => MoveIndex = -1">Cancel</button>
								}
								else
								{
									<button class="px-2 rounded-lg p-1 border border-green-400 hover:bg-green-400" @onclick="() => OnMoveItem(x)">
										<span class="material-symbols-outlined">expand_less</span> Place Above <span class="material-symbols-outlined">expand_less</span>
									</button>
								}
							}
							else
							{
								<button class="flex-0 px-2 border-green-400 hover:bg-green-400 border p-1 rounded-lg" @onclick="() => MoveIndex = x">Move</button>
							}

							<p class="flex-grow text-center p-1">@ItemList[x]</p>

							@if (MoveIndex >= 0 && MoveIndex != x)
							{
								<button class="px-2 rounded-lg p-1 border border-green-400 hover:bg-green-400" @onclick="() => OnMoveItem(x + 1)">
									<span class="material-symbols-outlined">expand_more</span> Place Below <span class="material-symbols-outlined">expand_more</span>
								</button>
							}
							else
							{
								<button class="flex-0 px-2 border-red-600 hover:bg-red-600 border p-1 rounded-lg" @onclick="() => OnDeleteItem(x)">Delete</button>
							}
						</div>
					}

				</div>
			</div>

			<div class="grid grid-cols-2 gap-4">
				<button class="border border-green-400 hover:bg-green-400 rounded-lg px-2 p-1" @onclick="SaveEditAsync">Save</button>
				<button class="border border-red-600 hover:bg-red-600 rounded-lg px-2 p-1" @onclick="OnStopEditRequestedAsync">Discard</button>
			</div>

			<ContextMenu OpenOnLeftClick="true" Identifier="AuthAreaDelete">
				<Element>
					<button class="border border-red-600 hover:bg-red-600 rounded-lg px-2 p-1">
						Delete
					</button>
				</Element>
				<Popup>
					<button class="button-op-danger-solid" @onclick="DeleteAsync">
						Confirm Delete
					</button>
				</Popup>
			</ContextMenu>
		</div>
	</EditForm>
</div>