﻿@if (EditComponent is not null)
{
    <PageComponentEditorSettingsNode Name="Assignable Value Settings">
        <div class="flex flex-col w-full h-full">
            <p class="text-center text-xl w-full mb-1 flex-none">Display Settings</p>
            <p class="text-center w-full mb-1 flex-none">
                Allows for managing the assignable values for a component, including which ones are selected
                and how the data is retrieved from them.
            </p>

            <div class="flex-grow flex relative overflow-hidden">
                <div class="p-2 w-[33%] border-r-2 border-slate-400 flex flex-col overflow-auto">
                    <div class="p-2 shadow-md border-slate-400 rounded-br-lg border-2
								relative inline-flex gap-2 my-1 bg-white">
                        <button class="flex-grow button-op-success" @onclick="EditComponent.CloseConfigurationNodeAsync">Close Menu</button>
                    </div>

                    @if (DisplaySettings is not null
                        && AssignableValueRendererToEdit is null)
                    {
                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
									relative my-1 first:mt-0 last:mt-0 bg-white">
                            Existing Assignable Value Renderers
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
									relative inline-flex gap-2 my-1 bg-white">
                            <button class="flex-grow button-util-action" @onclick="AddAssignableValueRenderer">Add New</button>
                        </div>

                        foreach (var renderer in DisplaySettings.AssignableValueRenderers)
                        {
                            var i = renderer;
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
										relative inline-flex gap-2 my-1 bg-white">
                                <p class="flex-grow">@i.DisplayName</p>
                                <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                        @onclick="() => DeleteAssignableValueRenderer(i)">
                                    delete
                                </button>
                                <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-slate-200 material-symbols-rounded"
                                        @onclick="() => EditAssignableValueRendererAsync(i)">
                                    edit
                                </button>
                            </div>
                        }
                    }
                    else if (AssignableValueRendererToEdit is not null)
                    {
                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
									relative my-1 first:mt-0 last:mt-0 bg-white">
                            Existing Assignable Value Conversions
                        </div>

                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
									relative inline-flex gap-2 my-1 bg-white">
                            <button class="flex-grow button-util-action" @onclick="AddAssignableValueConversion">Add New</button>
                        </div>

                        foreach (var conversion in AssignableValueRendererToEdit.Conversions)
                        {
                            var i = conversion;
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
										relative inline-flex gap-2 my-1 bg-white">
                                <p class="flex-grow">@i.ValueName</p>
                                <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                        @onclick="() => DeleteAssignableValueConversion(i)">
                                    delete
                                </button>
                                <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-slate-200 material-symbols-rounded"
                                        @onclick="() => EditAssignableValueConversionAsync(i)">
                                    edit
                                </button>
                            </div>
                        }
                    }
                </div>

                @if (AssignableValueRendererToEdit is not null
               && DisplaySettings is not null)
                {
                    <EditForm Model="AssignableValueRendererToEdit" class="m-2 p-3 border-2 border-slate-400 shadow-md bg-white flex-grow flex flex-col overflow-auto">
                        <div class="flex flex-col overflow-auto flex-none p-3 gap-2">
                            @*Renderer Edit Area*@
                            <div class="input-group">
                                <InputText @bind-Value="AssignableValueRendererToEdit.DisplayName" id="name" type="text" class="input-control peer" placeholder="User Scope Display Name" />
                                <label for="name" class="input-label">Assignable Value Renderer Display Name</label>
                            </div>

                            @if (ForceScope is null)
                            {
                                @* Select Scope *@
                                <MultiListSelectSelector DisplayName="Assignable Scope"
                                                         MaxSelections="1"
                                                         SelectedItems="ScopeToPickFrom"
                                                         Values="DisplaySettings.ScopeProviders"
                                                         DisplayValues="ScopeNames"
                                                         OnValueChangedAsync="OnScopeToPickChanged" />
                            }
                            else
                            {
                                <em>Using form bucket scope.</em>
                            }

                            @if (ConfigAssignable is not null)
                            {
                                @* Select Property *@
                                <AssignablePropertySelector Assignable="@ConfigAssignable"
                                                            PropertyName="@AssignableValueRendererToEdit.PropertyName"
                                                            UseStaticProperties="AssignableValueRendererToEdit.Static"
                                                            SetPropertyName="(x) => AssignableValueRendererToEdit.PropertyName = x"
                                                            SetPropertyType="(x) => AssignableValueRendererToEdit.Static = x"
                                                            AllowedStaticTypes="AllowedStaticTypes" />
                            }

                            <button class="button-util-action" @onclick="() => EditAssignableValueRendererAsync(null)">Stop Editing</button>
                        </div>
                        <div class="flex flex-col overflow-auto flex-grow p-3 border-t-2 border-black gap-2">
                            @*Conversion Edit Area*@
                            @if (AssignableValueConversionToEdit is null)
                            {
                                <p>Select a conversion to edit.</p>
                            }
                            else
                            {
                                if (ValueConversionContainer is null)
                                {
                                    <p>
                                        No conversion container was able to be found. Make sure to select a property name from
                                        the above list.
                                    </p>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <InputText @bind-Value="AssignableValueConversionToEdit.ValueName" id="value-name" type="text" class="input-control peer" placeholder="Value Name" />
                                        <label for="value-name" class="input-label">Value Name</label>
                                    </div>

                                    <hr />

                                    switch (ValueConversionContainer)
                                    {
                                        case IAssignableValue<string> sv:
                                            <p>
                                                String Configuration. For more details on format strings please read about Composite Formatting in
                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/composite-formatting#composite-format-string"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">this document</a>.
                                            </p>
                                            <p>
                                                The value will always be <code>{0}</code> and the name of this variable will always
                                                be <code>{1}</code>.
                                            </p>

                                            <hr />

                                            <div class="input-group">
                                                <InputText @bind-Value="AssignableValueConversionToEdit.String_FormatString" id="string-format-string" type="text" class="input-control peer" placeholder="Format String" />
                                                <label for="string-format-string" class="input-label">Format String</label>
                                            </div>
                                            break;
                                        case IAssignableValue<int> iv:
                                        case IAssignableValue<double> dv:
                                            <p>
                                                Numeric Configuration. For more details on format strings please read about Composite Formatting in
                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/composite-formatting#composite-format-string"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">this document</a>.
                                            </p>
                                            <p>
                                                Numerical formats have additional formatting:
                                                <br />

                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">Standard Numeric Format Strings</a>
                                                <br />

                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-numeric-format-strings"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">Custom Numeric Format Strings</a>
                                                <br />

                                                <i>
                                                    The Data Core utilizes Composite Formatting. The Standard and Custom documents will provide other
                                                    examples alongside Composite Formatting. When designing your output, make sure to only use composite format strings.
                                                </i>
                                            </p>
                                            <p>
                                                The value will always be <code>{0}</code> and the name of this variable will always
                                                be <code>{1}</code>.
                                            </p>

                                            <hr />

                                            <div class="input-group">
                                                <InputText @bind-Value="AssignableValueConversionToEdit.Numeric_FormatString" id="numeric-format-string" type="text" class="input-control peer" placeholder="Format String" />
                                                <label for="numeric-format-string" class="input-label">Format String</label>
                                            </div>
                                            break;
                                        case IAssignableValue<DateTime> dt:
                                        case IAssignableValue<DateOnly> donly:
                                        case IAssignableValue<TimeOnly> tonly:
                                            <p>
                                                Date and Time, Date Only, or Time Only Configuration. Date and Time formatting utilizes <code>ToString</code>
                                                which can be seen in the below documents.
                                            </p>
                                            <p>
                                                Date and Time formats have additional formatting:
                                                <br />

                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">Standard Date and Time Format Strings</a>
                                                <br />

                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-numeric-format-strings"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">Custom Date and Time Format Strings</a>
                                                <br />

                                                <br />
                                                When using a Time Span, there is a separate set of formatting rules:
                                                <br />
                                                <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-timespan-format-strings"
                                                   class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                                   target="_blank">Custom TimeSpan Format Strings</a>
                                            </p>
                                            <p>
                                                <i>
                                                    The Data Core utilizes <code>ToString</code> formatting for Date and Time values. The above documents may have
                                                    other format examples that use other methods. Make sure to design your format string based on the <code>ToString</code>
                                                    examples.
                                                </i>
                                            </p>

                                            <hr />

                                            <div class="input-group">
                                                <InputText @bind-Value="AssignableValueConversionToEdit.DateTime_ToStringPattern" id="datetime-format-string" type="text" class="input-control peer" placeholder="ToString Format" />
                                                <label for="datetime-format-string" class="input-label">ToString Format</label>
                                            </div>

                                            @*TODO:
                    Handle state has changed for all boolean checkboxes to update the displayed forms.
                    *@

                                            <label class="inline-flex items-center">
                                                <InputCheckbox Value="AssignableValueConversionToEdit.DateTime_ConvertToTimeSpan"
                                                               ValueChanged="DateTime_ConvertToTimeSpan_ValueChanged"
                                                               ValueExpression="() => AssignableValueConversionToEdit.DateTime_ConvertToTimeSpan" />
                                                <span class="ml-2">Convert To Time Span</span>
                                            </label>

                                            @if (AssignableValueConversionToEdit.DateTime_ConvertToTimeSpan)
                                            {
                                                <p>
                                                    This value is being converted to a Time Span. By default, it will check against the current date and time
                                                    of UTC-0, or GMT. You can set a custom Date to compare against if needed.
                                                </p>

                                                <label class="inline-flex items-center">
                                                    <InputCheckbox Value="AssignableValueConversionToEdit.DateTime_ManualTimeSpanComparision"
                                                                   ValueChanged="DateTime_ManualTimeSpanComparision_ValueChanged"
                                                                   ValueExpression="() => AssignableValueConversionToEdit.DateTime_ManualTimeSpanComparision" />
                                                    <span class="ml-2">Use Custom Date and Time</span>
                                                </label>

                                                if (AssignableValueConversionToEdit.DateTime_ManualTimeSpanComparision)
                                                {
                                                    <InputDate id="datetime-timespan-conversion" class="input-control peer min-h-fit" placeholder="Time Span Conversion Base"
                                                               Value="AssignableValueConversionToEdit.DateTime_TimeSpanConversionCompareTo"
                                                               ValueExpression="() => AssignableValueConversionToEdit.DateTime_TimeSpanConversionCompareTo"
                                                               ValueChanged="(x) => AssignableValueConversionToEdit.DateTime_TimeSpanConversionCompareTo = x"
                                                               TValue="DateTime" />
                                                }
                                            }
                                            break;
                                        case IAssignableValue<bool> bv:
                                            <p>
                                                Boolean Configuration. The value in Dispaly When True will be displayed if the value is ture. The value in
                                                Display When False will be displayed if the value is false. No formatting is done to these values. What you
                                                type is what you get.
                                            </p>

                                            <hr />

                                            <div class="input-group">
                                                <InputText @bind-Value="AssignableValueConversionToEdit.Bool_FormatOnTrue" id="bool-format-true" type="text" class="input-control peer" placeholder="Display When True" />
                                                <label for="bool-format-true" class="input-label">Display When True</label>
                                            </div>

                                            <div class="input-group">
                                                <InputText @bind-Value="AssignableValueConversionToEdit.Bool_FormatOnFalse" id="bool-format-false" type="text" class="input-control peer" placeholder="Display When False" />
                                                <label for="bool-format-false" class="input-label">Display When False</label>
                                            </div>
                                            break;
                                    }

                                    <hr />

                                    <p>
                                        Multiple values can be saved within this assignable configuration. Set the Mutli Max Values field to anything higher than 0
                                        to limit the ammount of values displayed when all values are displayed. Set it to 0 to display all values. The separator will be
                                        used to divide each value in the display. If only one value is allowed in the configuration, the first value display will match
                                        the complete value display.
                                    </p>

                                    <div class="input-group">
                                        <InputNumber @bind-Value="AssignableValueConversionToEdit.Multi_MaxValues" id="multi-max" type="text" class="input-control peer" placeholder="Multi Max Values" />
                                        <label for="multi-max" class="input-label">Multi Max Values</label>
                                    </div>

                                    <div class="input-group">
                                        <InputText @bind-Value="AssignableValueConversionToEdit.Multi_Separator" id="multi-sep" type="text" class="input-control peer" placeholder="Multi Value Separator" />
                                        <label for="multi-sep" class="input-label">Multi Value Separator</label>
                                    </div>
                                }
                            }
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </PageComponentEditorSettingsNode>
}