﻿@if (EditComponent is not null)
{
    <PageComponentEditorSettingsNode Name="Authorization Areas">
        <div class="flex flex-col w-full h-full p-3 gap-2">
            @if(Node.AuthorizationArea is not null)
            {
                <div>
                    Current Auth Area: @Node.AuthorizationArea.Name [@Node.AuthorizationArea.Category]
                </div>
            }
            else
            {
                <div>
                    No Auth Area
                </div>
            }

            <AuthorizationAreaSelector 
                DisplayName="View Authorization Area"
                OnAuthAreaSelected="OnAuthAreaChanged"
            />

            @if(CustomAuthArea is not null)
            {
                <hr />

                @CustomAuthArea
            }

            <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                Close Menu
            </button>
        </div>
    </PageComponentEditorSettingsNode>
}