﻿@if (EditComponent is not null)
{
    <PageComponentEditorSettingsNode Name="Component Pools">
        <div class="flex flex-col w-full h-full">
            <p class="text-center text-xl w-full mb-1 flex-none">Component - Component Pool</p>
            <p class="text-center w-full mb-1 flex-none">
                Allows for managing the component pools this component is in.
            </p>

            <div class="flex-grow flex relative overflow-hidden">
                <div class="flex flex-col gap-2 w-full p-4 m-3 border-2 border-slate-400 shadow-md rounded-lg bg-white">
                    @if (_component is not null)
                    {
                        <EditForm Model="_component" class="flex-grow flex flex-col gap-3 overflow-auto">
                            <div class="flex inline-flex gap-1 pt-1">
                                <div class="input-group flex-grow">
                                    <InputSelect @bind-Value="ComponentIndex" id="providers" type="text" class="input-control peer" placeholder="Providing to">
                                        @for (int index = 0; index < AvailablePools.Count; index++)
                                        {
                                            var i = index;
                                            <option value="@i">@AvailablePools[i].Name</option>
                                        }
                                    </InputSelect>
                                    <label for="providers" class="input-label">Providing To (Give a user to)</label>
                                </div>
                                <button class="flex-none button-op-success material-symbols-rounded"
                                @onclick="AddPool">
                                    add
                                </button>
                            </div>

                            <div class="grid grid-cols-3 grid-flow-row gap-2">
                                @foreach (var item in _component.ComponentPools)
                                {
                                    var i = item;
                                    <div class="flex inline-flex">
                                        <p class="flex-grow">@i.Name</p>
                                        <button class="flex-none rounded-lg w-7 h-7 shadow-md bg-red-700 text-white material-symbols-rounded"
                                        @onclick="() => RemovePool(i)">
                                            delete
                                        </button>
                                    </div>
                                }
                            </div>
                        </EditForm>
                    }
                    else
                    {
                        <p>There is no component loaded. How did you get here?</p>
                    }

                    <hr />

                    <div class="flex-grow"></div>

                    <button class="button-util-action text-center" @onclick="EditComponent.CloseConfigurationNodeAsync">
                        Close Menu
                    </button>
                </div>
            </div>
        </div>
    </PageComponentEditorSettingsNode>
}