﻿@if (EditComponent is not null)
{
    <PageComponentEditorSettingsNode Name="Display Settings">
        @if (DisplaySettings is not null)
        {
            <div class="flex flex-col w-full h-full">
                <p class="text-center text-xl w-full mb-1 flex-none">Display Settings</p>
                <p class="text-center w-full mb-1 flex-none">
                    Allows for managing the display settings for this component, including which assignable values are used
                    and how they are displayed to the user.
                </p>

                <div class="flex-grow flex relative overflow-hidden">
                    <div class="p-2 w-[33%] border-r-2 border-slate-400 flex flex-col overflow-auto">
                        <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							        relative inline-flex gap-2 my-1 bg-white">
                            <button class="flex-grow button-op-success" @onclick="EditComponent.CloseConfigurationNodeAsync">Close Menu</button>
                        </div>

                        <hr />

                        @if (!EditingAuthorized && !EditingUnathroized)
                        {
                            @*
                Display the edit buttons.
                *@
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							        relative inline-flex gap-2 my-1 bg-white">
                                <button class="flex-grow button-util-action" @onclick="ToggleEditAuthorizedDisplay">Edit Authorized Display</button>
                            </div>

                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							        relative inline-flex gap-2 my-1 bg-white">
                                <button class="flex-grow button-util-action" @onclick="ToggleEditUnathorizedDisplay">Edit Unathorized Display</button>
                            </div>
                        }
                        else
                        {
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							            relative inline-flex gap-2 my-1 bg-white">
                                <button class="flex-grow button-op-success"
                                        @onclick="EditingAuthorized ? ToggleEditAuthorizedDisplay : ToggleEditUnathorizedDisplay">
                                    Go Back
                                </button>
                            </div>

                            <hr />

                            @*
                Display the avalibe assignable render values.
                *@
                            <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
							        relative my-1 first:mt-0 last:mt-0 bg-white">
                                Existing Assignable Value Conversions
                            </div>

                            @foreach (var renderer in DisplaySettings.AssignableValueRenderers)
                            {
                                foreach (var conversion in renderer.Conversions)
                                {
                                    var i = conversion;
                                    <div class="p-2 shadow-md border-slate-400 rounded-r-lg border-2
									        relative inline-flex gap-2 my-1 bg-white">
                                        <p class="flex-grow">{{@renderer.DisplayName:@i.ValueName}}</p>
                                    </div>
                                }
                            }
                        }
                    </div>

                    <div class="m-2 p-3 border-2 border-slate-400 shadow-md bg-white flex-grow flex flex-col gap-3 overflow-auto">
                        @if (EditingAuthorized)
                        {
                            <div class="flex-none">
                                Some CSS may not update until after the page has reloaded. Please use the
                                <a class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                   href="https://play.tailwindcss.com/" target="_blank">Tailwindcss Playground</a>
                                to experiement with CSS.
                            </div>
                            <div class="flex-grow relative">
                                <HTMLEditor Value="@DisplaySettings.Data.AuthorizedRaw" OnUpdate="OnAuthHTMLChangedAsync" />
                            </div>
                            <div class="flex-grow">
                                @if (Markup is not null)
                                {
                                    @Markup.Value
                                }
                                else
                                {
                                    <div class="p-2">No valid HTML is able to be laoded.</div>
                                }
                            </div>
                        }
                        else if (EditingUnathroized)
                        {
                            <div class="flex-none">
                                Some CSS may not update until after the page has reloaded. Please use the
                                <a class="underline decoration-blue-700 text-blue-700 visited:decoration-purple-700 visited:text-purple-700"
                                   href="https://play.tailwindcss.com/" target="_blank">Tailwindcss Playground</a>
                                to experiement with CSS.
                            </div>
                            <div class="flex-grow relative">
                                <HTMLEditor Value="@DisplaySettings.Data.UnAuthorizedRaw" OnUpdate="OnUnauthHTMLChangedAsync" />
                            </div>
                            <div class="flex-grow">
                                @if (Markup is not null)
                                {
                                    @Markup.Value
                                }
                                else
                                {
                                    <div class="p-2">No valid HTML is able to be loaded.</div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </PageComponentEditorSettingsNode>
}