﻿@typeparam TValue

@* @if (Sortable)
{
    int counter = 0;

    <ul class="flex flex-col" data-sortable-container="@Identifier">

        @foreach (var item in Items)
        {
            int c = counter++;
            var i = item;

            <li class="p-2 shadow-md border-slate-400 rounded-r-lg first:rounded-t-none
                last:rounded-b-none border-2 flex flex-row align-middle gap-1 sortable">
                @ChildContent(new(i, c))
            </li>
        }

    </ul>
} *@
<div class="flex flex-col @Class">
    @if (Sortable)
    {
        int counter = 0;
        int index = 0;
        @foreach (var item in Items)
        {
            var o = item;
            int c = counter++;
            int i = index++;

            <div class="flex flex-row gap-1 group">
                <div class="invisible group-hover:visible w-8 h-8 rounded-lg
                            bg-util_action text-util_action_t disabled:bg-slate-600"
                     disabled="@(c == 0)">
                    <button class="material-symbols-rounded"
                    @onclick="() => OnSortUp(c)">
                        expand_less
                    </button>
                </div>

                <div class="p-2 shadow-md border-slate-400 rounded-r-lg first:rounded-t-none
                last:rounded-b-none border-2 flex flex-row align-middle gap-1 flex-grow">
                    @ChildContent(new(o, c, i))
                </div>

                <div class="invisible group-hover:visible w-8 h-8 rounded-lg
                            bg-util_action text-util_action_t disabled:bg-slate-600"
                     disabled="@(c == Items.Count - 1)">
                    <button class="material-symbols-rounded"
                    @onclick="() => OnSortDown(c)">
                        expand_more
                    </button>
                </div>
            </div>
        }
    }
    else
    {
        @if (HasSelectionBoxes && SelectionData is not null)
        {
            <div class="p-2 shadow-md border-slate-400 rounded-r-lg first:rounded-t-none
                last:rounded-b-none border-2 flex flex-row align-middle gap-2">
                    <span class="flex-none">
                        <InputCheckbox @bind-Value="SelectionData.SelectedAll" />
                    </span>

                    <span class="flex-grow">
                        Select All
                    </span>
            </div>
        }

        int counter = 0;
        int index = 0;
        @foreach (var item in Items)
        {
            var o = item;
            int c = counter++;
            int i = 0;

            if(Paginate > 0 && (c < PaginationIndex || c > PaginationMaxIndex))
            {
                continue;
            }
            else
            {
                i = index++;
            }

            <div class="p-2 shadow-md border-slate-400 rounded-r-lg first:rounded-t-none
                last:rounded-b-none border-2 flex flex-row align-middle gap-2">
                @if (HasSelectionBoxes && SelectionData is not null)
                {
                    <span class="flex-none">
                        <InputCheckbox @bind-Value="SelectionData[i]" />
                    </span>
                }
                @ChildContent(new(o, c, i))
            </div>
        }

        @if (Paginate > 0)
        {
            <div class="flex-grow"></div>

            <Pagination 
                Count="Items.Count"
                ItemsPerPage="MaxItemsPerPage"
                Index="PaginationIndex"
                OnIndexChanged="OnPaginationChanged"
            />
        }
    }
</div>
