﻿@if (TotalPages > 1)
{
    <div class="flex flex-col">
        <nav class="flex flex-row flex-grow justify-center">
            <button class="flex-none flex items-center border border-blue-400" 
                @onclick="async () => await OnIndexChangedAsyncInternal(-1 * ItemsPerPage)">
                <span class="material-symbols-rounded">arrow_back</span><span>Previous</span>
            </button>
            <div class="flex-none text-center flex flex-row justify-center">
                @for (int i = 0; i < TotalPages; i++)
                {
                    var itemMod = ItemsPerPage * i - Index;
                    @if (i == 0
                      || i == TotalPages - 1
                      || (i > CurrentPage - 4
                        && i < CurrentPage + 2))
                    {
                        <button class="text-center border border-blue-400 px-2 py-1"
                            @onclick="async () => await OnIndexChangedAsyncInternal(itemMod)">
                            @(i + 1)
                        </button>
                    }
                    else if (i == CurrentPage - 4 || i == CurrentPage + 2)
                    {
                        <button disabled class="border border-blue-400 px-2 py-1">...</button>
                    }
                }
            </div>
            <button class="flex-none flex items-center border border-blue-400"
                @onclick="async () => await OnIndexChangedAsyncInternal(ItemsPerPage)">
                <span class="material-symbols-rounded">arrow_forward</span><span>Next</span>
            </button>
        </nav>
        <hr class="mt-1" />
        <span class="text-center">Showing <strong>@Index</strong> to <strong>@(Index + ItemsPerPage)</strong> of <strong>@Count</strong> Items</span>
    </div>
}