﻿@using ProjectDataCore.Components.Framework.Components.Auth.Edit

@if (AuthorizationArea is not null
        && !string.IsNullOrWhiteSpace(Identifier))
{
    <ModalMenu Identifier="@Identifier" DisplayCloseButton="false">
        <Element>
            <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md 
                bg-slate-200 material-symbols-rounded">
                key
            </button>
        </Element>
        <Popup>
            <CascadingValue Name="AuthArea" Value="AuthorizationArea">
                <CascadingValue Name="Identifier" Value="@Identifier">
                    <AuthorizationEditComponentPopupLayout />
                </CascadingValue>
            </CascadingValue>
        </Popup>
    </ModalMenu>
}
else if (ShowDisabled)
{
    <button class="rounded-lg w-7 h-7 border-slate-400 shadow-md
        disabled:bg-slate-600 disabled:text-white material-symbols-rounded"
        disabled>
        key
    </button>
}