﻿@inherits ActionBase

<div class="flex flex-col flex-grow p-2">
    <ListRenderer Items="SelectedResponses" 
        Context="ctx"
        Class="flex-grow"
    >
        <DynamicFormResponseItem 
            Response="ctx.Value"
            Settings="Bucket.BucketSettings"
            HasActions="false" />
        <ModalMenu Identifier="detailed-form-response">
            <Element>
                <button class="rounded-lg w-7 h-7 border-blue-400 shadow-md bg-blue-200 material-symbols-rounded">
                    visibility
                </button>
            </Element>
            <Popup>
                <ResponseFullViewComponent Settings="Bucket.BucketSettings" Response="ctx.Value" />
            </Popup>
        </ModalMenu>
    </ListRenderer>

    <hr />

    <button class="button-op-danger" @onclick="OnDeleteResponsesAsync">
        Confirm Delete Responses
    </button>
</div>
