﻿@inherits ActionBase

<div class="flex flex-col flex-grow p-2">
    <ListRenderer Items="SelectedResponses"
                  Context="ctx"
                  Class="flex-grow">
        <DynamicFormResponseItem Response="ctx.Value"
                                 Settings="Bucket.BucketSettings"
                                 HasActions="false" />
        <ModalMenu Identifier="detailed-form-response">
            <Element>
                <button class="rounded-lg w-7 h-7 border-blue-400 shadow-md bg-blue-200 material-symbols-rounded">
                    visibility
                </button>
            </Element>
            <Popup>
                <ResponseFullViewComponent Settings="Bucket.BucketSettings" Response="ctx.Value" />
            </Popup>
        </ModalMenu>
    </ListRenderer>

    <hr />

    <InputSelect id="property-selector" class="form-control w-full"
                 @bind-Value="SelectedBucketId">

        <option value="@Guid.Empty">Select an option...</option>

        @foreach(var b in AllBuckets)
        {
            <option value="@b.Key">@b.Name</option>
        }
    </InputSelect>
    
    <div class="input-group">
        <InputText id="option-name" class="input-control peer" placeholder="Option Name"
                     @bind-Value="Reason" />
        <label for="option-name" class="input-label">Move Reason</label>
    </div>

    <button class="button-op-danger" @onclick="OnMoveResponsesAsync">
        Confirm Move
    </button>
</div>
